.form-card {
    padding: 24px 18px;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
}
.form-card .pt-card__content {
    border-radius: 2px;
    background-color: #ece5e1;
    opacity: 0.8;
    padding: 71px 24px 75px;
}

.form-card .pt-card__content .pt-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: $screen-s) {

    .form-card {
        padding: 50px 84px;
    }
    .form-card .pt-card__content {
        padding: 68px 55px;
    }
}

@media screen and (min-width: $screen-l) {

    .form-card {
       padding: 42px 142px 62px 162px;
    }
    .form-card .pt-card__content {
        padding: 78px 104px 82px;
    }
}
