@media (max-width: 767px) {
    .new-menu__item {
        letter-spacing: 0.02em;
        border-bottom: 1px solid var(--color-bg-border);
        align-self: center;
    }
    .new-menu__item:first-child {
        border-top: 1px solid var(--color-bg-border);
    }
    .new-menu__item:nth-child(5),
    .new-menu__item:nth-child(6),
    .new-menu__item:nth-child(7) {
        display: none;
    }
}
@media (min-width: 768px) {
    .new-menu__item:nth-child(3) {
        border-left: 1px solid var(--color-bg-border);
        border-right: 1px solid var(--color-bg-border);
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__block {
        display: none
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__icon_indent-r_m {
        margin: 0;
    }
    .new-menu__item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .new-menu__item:nth-child(7) {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
     .new-menu__item:nth-child(5),
    .new-menu__item:nth-child(6) {
        display: none;
    }
}

@media (min-width: 1150px) {
    .new-menu__item:nth-child(3) {
        /* width: 82px; */
        border-left: 1px solid var(--color-bg-border);
        border-right: 1px solid var(--color-bg-border);
        grid-column-start: 4;
        grid-column-end: 4;
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__block {
        display: none
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__icon_indent-r_m {
        margin: 0;
    }
    .new-menu__item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .new-menu__item:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .new-menu__item:nth-child(4) {
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .new-menu__item:nth-child(5) {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(6) {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(7) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
