@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
body {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration: none;
  color: #000;
  background: #062562 url("../img/bg.svg") no-repeat;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.btn {
  display: block;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 17px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background-color: green;
}
.btn:active {
  background-color: ligthgrey;
}
.page-header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 93.75%;
  margin: 0 auto;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .page-header {
    max-width: 1146px;
  }
}
.page-header::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -585%;
  width: 80%;
  height: 420%;
  background: url("../img/icon-dollar.svg") no-repeat;
  background-size: 100%;
  background-size: contain;
}
@media (min-width: 768px) {
  .page-header::after {
    top: 160%;
  }
}
@media (min-width: 1024px) {
  .page-header::after {
    top: 20%;
  }
}
@media (min-width: 768px) {
  .page-header {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
.page-header__logo {
  margin-left: 3%;
  padding: 15px;
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}
@media (min-width: 768px) {
  .page-header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .page-header__logo {
    font-size: 1.5em;
  }
}
.page-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  width: 93.75%;
  margin: 0 auto;
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .page-main {
    max-width: 1146px;
  }
}
.page-main__title {
  width: 84vw;
  margin: 25px auto;
  margin-top: 40px;
  font-size: 17.5vw;
  font-weight: 400;
  line-height: 0.92;
  letter-spacing: -4.55px;
  color: #fff;
  text-shadow: 0 2px 20px rgba(255, 255, 255, 0.59);
}
@media (min-width: 768px) {
  .page-main__title {
    font-size: 9em;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .page-main__title {
    width: auto;
    font-size: 130px;
    line-height: 0.85;
    letter-spacing: -5.11px;
  }
}
.page-main__subtitle {
  width: 87vw;
  margin: 15px auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.79px;
  color: #fff;
}
@media (min-width: 768px) {
  .page-main__subtitle {
    width: 90%;
    font-size: calc(1.4rem);
    line-height: calc(1.6rem);
    text-align: left;
    letter-spacing: -1.1px;
  }
}
.forms {
  display: -ms-flexbox;
  display: flex;
  width: calc(93.75%);
  margin: 25px auto;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 768px) {
  .forms {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .forms {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
.forms__label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.forms__container {
  width: 100%;
  border: none;
}
.forms__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 1024px) {
  .forms__content {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}
.forms__contacts {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.forms__legend {
  width: 100%;
  margin: 24px 0;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.94px;
  color: #fff;
}
@media (min-width: 768px) {
  .forms__legend {
    margin-top: 0;
    text-align: left;
  }
}
.forms__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  font-size: 10px;
  line-height: 17px;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 768px) {
  .forms__item {
    width: 100px;
    height: 100px;
  }
}
.forms__inner {
  width: 260px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .forms__inner {
    max-width: 280px;
  }
}
.forms__input {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: #042263;
  background-color: #fff;
}
.forms__input:hover::-webkit-input-placeholder {
  display: none;
}
/* сдвиг placeholder-а влево при фокусе*/
.forms__input--placeholder-name::-webkit-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-name::-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-name:-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-name:-ms-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-name:focus::-webkit-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-name:focus::-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-name:focus:-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-name:focus:-ms-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-tel::-webkit-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-tel::-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-tel:-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-tel:-ms-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: 0;
}
.forms__input--placeholder-tel:focus::-webkit-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-tel:focus::-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-tel:focus:-moz-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__input--placeholder-tel:focus:-ms-input-placeholder {
  transition: text-indent 0.3s ease;
  text-indent: -500px;
}
.forms__footer {
  width: 260px;
}
@media (min-width: 1024px) {
  .forms__footer {
    position: relative;
    width: 240px;
  }
}
.forms__btn {
  width: 260px;
  height: 60px;
  color: #fff;
  border-radius: 100px;
  background-color: #fe6801;
}
.forms__btn:hover {
  background: green;
}
.forms__btn:active {
  background-color: lightgreen;
}
@media (min-width: 768px) {
  .forms__btn {
    width: 240px;
  }
}
.forms__text {
  position: relative;
  width: 190px;
  height: 28px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 14px;
  opacity: 0.7;
  color: #fff;
}
.forms__text::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 5px;
  width: 30px;
  height: 44px;
  background: transparent url("../img/icon-pointer.svg") no-repeat;
}
@media (min-width: 1024px) {
  .forms__text {
    position: absolute;
    bottom: -40px;
    left: -140px;
  }
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
  vertical-align: top;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}
/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */
/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.checkbox:not(checked) + label {
  position: relative;
  /* будем позиционировать псевдочекбокс относительно label */
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 130px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
}
@media (min-width: 768px) {
  .checkbox:not(checked) + label {
    width: 100px;
    height: 100px;
  }
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
}
@media (min-width: 768px) {
  .checkbox:not(checked) + label::before {
    width: 100px;
    height: 100px;
  }
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  transition: all 0.02s;
  /* анимация, чтобы чекбокс переключался плавно */
}
@media (min-width: 768px) {
  .checkbox:not(checked) + label::after {
    width: 100px;
    height: 100px;
  }
}
.checkbox--property:not(checked) + label::after {
  opacity: 0.3;
  background: transparent url("../img/icon-property.svg") no-repeat center;
}
.checkbox--internet:not(checked) + label::after {
  opacity: 0.3;
  background: transparent url("../img/icon-internet.svg") no-repeat center;
}
.checkbox--food:not(checked) + label::after {
  opacity: 0.3;
  background: transparent url("../img/icon-food.svg") no-repeat center;
}
.checkbox--car:not(checked) + label::after {
  opacity: 0.3;
  background: transparent url("../img/icon-car.svg") no-repeat center;
}
.checkbox--telecom:not(checked) + label::after {
  opacity: 0.3;
  background: transparent url("../img/icon-telecom.svg") no-repeat center;
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox--property:checked + label::before {
  background: transparent url("../img/icon-property.svg") no-repeat center;
}
.checkbox--internet:checked + label::before {
  background: transparent url("../img/icon-internet.svg") no-repeat center;
}
.checkbox--food:checked + label::before {
  background: transparent url("../img/icon-food.svg") no-repeat center;
}
.checkbox--car:checked + label::before {
  background: transparent url("../img/icon-car.svg") no-repeat center;
}
.checkbox--telecom:checked + label::before {
  background: transparent url("../img/icon-telecom.svg") no-repeat center;
}
.checkbox:not(checked) + label {
  opacity: 0.8;
}
.checkbox:checked + label {
  text-decoration: underline;
  opacity: 1;
}
/* Показываем получение фокуса. */
