.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
}
@media screen and (max-width: $screen-xs-max) {
    .header {
        background-image: url(../../common.blocks/image/header-photo-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width:  $screen-l-max) and (min-width: $screen-s) {

    .header {
        background-image: url(../../common.blocks/image/header-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        height: 822px;
    }
}
@media only screen and (min-width: $screen-xl) {
    .header {
        background-image: url(../../common.blocks/image/header-bg-desktop.png);
        background-repeat: no-repeat;
        background-position: top right;
        height: 780px;
    }
}
