.link_theme_project {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    transition: color 0.15s ease-out;
    text-decoration: none;
}
.link_theme_project:hover {
    color: #e00;
}
.link_theme_project:hover.text_decoration_underline-project {
   border-bottom: 1px dashed #e00;
}
