@media screen and (max-width: 425px) {
.theme_color_whitepaper-portal-brand {
    --color-bg-brand: #fff;
    --color-bg-action: rgb(255, 255, 255);
    --color-bg-selection: rgb(255, 255, 255);
    --color-bg-hover: rgba(255, 255, 255, 0.15);
    --color-bg-border: rgba(255, 255, 255, 0.8);
    --color-bg-stripe: rgba(255, 255, 255, 0.04);
    --color-bg-ghost: rgba(255, 255, 255, 0.08);
    --color-bg-default: #0080F5;
    --color-bg-tone: rgba(255, 255, 255, 0.9);
    --color-bg-soft: rgba(0, 128, 245, 0.97);
    --color-bg-success: #00985f;
    --color-bg-alert: #f33;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-bg-link: rgba(16, 147, 234, 0.4);
    --color-typo-brand: #fff;
    --color-typo-primary: #fff;
    --color-typo-promo: rgba(255, 255, 255, 0.8);
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-typo-disable: rgba(255, 255, 255, 0.3);
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: #f33;
    --color-link: #0056b3;
    --color-link-external: #0056b3;
    --color-link-minor: rgb(98, 104, 147);
    --color-link-hover: rgb(0, 69, 143);
}

}
