@media screen and (min-width: $screen-s) {

    .hero__title {
        position: relative;
        margin-bottom: 35px;
        z-index: 1;
    }
    .hero__title::after {
        position: absolute;
        content: '';
        top: -19px;
        left: -41px;
        width: 359px;
        height: 79px;
        background-image: url(foodPhotogrphy-tablet.png);
        background-repeat: no-repeat;
        z-index: -1;
    }
}
@media screen and (min-width: $screen-l) {

    .hero__title {
        margin-bottom: 30px;
    }
    .hero__title::after {
        position: absolute;
        content: '';
        top: -36px;
        left: -29px;
        width: 494px;
        height: 107px;
        background-image: url(foodPhotogrphy-desktop.png);
        background-repeat: no-repeat;
        z-index: -1;
    }
}
