
@media screen and (min-width: $screen-xs) {

    .new-menu__nav {
        position: absolute;
        left: -266px;
        top: 15px;
        min-width: 320px;
        background: #e7e7e7;
    }
}
@media screen and (min-width: $screen-s) {

    .new-menu__nav {
        left: -150px;
    }
}


@media screen and (min-width: $screen-m) {

    .new-menu__nav {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        top: 0;
        left: 0;
        background: #fff;
    }
}
