:root {
    --gap: 16px;
}
:root {
    --gap: 20px;
}
:root {
    --gap: 12px;
    --col-gap-third: calc(var(--gap) * 0.33);
    --col-gap-half: calc(var(--gap) * 0.5);
    --col-gap-two-thirds: calc(var(--gap) * 0.66);
    --col-gap-full: var(--gap);
    --col-gap-2x: calc(var(--gap) * 2);
    --col-gap-3x: calc(var(--gap) * 3);
}

.theme_color_whitepaper-default, 
.theme_color_whitepaper-inverse, 
.theme_color_whitepaper-normal {
    --color-bg-success: #00985f;
    --color-bg-alert: #f33;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: #f33;
}

.theme_color_whitepaper-default {
    --color-base-base: #000;
    --color-base-essential: #fff;
    --color-base-project: #0056b3;
    --color-base-phantom: #000;
    --color-base-path: #0070f0;
    --color-bg-brand: #0056b3;
    --color-bg-action: rgb(0, 123, 255);
    --color-bg-selection: rgb(82, 168, 255);
    --color-bg-hover: rgba(0, 0, 0, 0.15);
    --color-bg-border: rgba(0, 0, 0, 0.05);
    --color-bg-stripe: rgba(0, 0, 0, 0.04);
    --color-bg-ghost: rgba(0, 0, 0, 0.08);
    --color-bg-default: #fff;
    --color-bg-tone: rgba(0, 0, 0, 0.9);
    --color-bg-soft: rgba(255, 255, 255, 0.97);
    --color-bg-link: rgba(69, 170, 242, 0.4);
    --color-typo-brand: #0056b3;
    --color-typo-primary: #000;
    --color-typo-promo: rgba(0, 0, 0, 0.8);
    --color-typo-secondary: rgba(0, 0, 0, 0.6);
    --color-typo-ghost: rgba(0, 0, 0, 0.3);
    --color-typo-disable: rgba(0, 0, 0, 0.3);
    --color-link: #0070f0;
    --color-link-external: #0070f0;
    --color-link-minor: rgb(133, 137, 173);
    --color-link-hover: rgb(0, 95, 204);
}
.theme_breakpoint_default {
    --screen-xs: 320px;
    --screen-s: 720px;
    --screen-m: 1024px;
    --screen-l: 1280px;
    --screen-xl: 1440px;
    --screen-xxl: 1600px;
    --screen-xs-max: 719px;
    --screen-s-max: 1023px;
    --screen-m-max: 1279px;
    --screen-l-max: 1439px;
    --screen-xl-max: 1599px;
    --screen-xxl-max: 1920px;
}
.theme_size_default {
    --size-typo-xs: 11px;
    --size-typo-s: 13px;
    --size-typo-m: 15px;
    --size-typo-l: 18px;
    --size-typo-xl: 20px;
    --size-typo-xxl: 24px;
    --size-typo-xxxl: 32px;
    --size-typo-xxxxl: 48px;
    --size-typo-xxxxxl: 72px;
    --size-typo-xxxxxxl: 96px;
    --line-height-typo-xs: 15px;
    --line-height-typo-s: 18px;
    --line-height-typo-m: 21px;
    --line-height-typo-l: 25px;
    --line-height-typo-xl: 28px;
    --line-height-typo-xxl: 34px;
    --line-height-typo-xxxl: 42px;
    --line-height-typo-xxxxl: 62px;
    --line-height-typo-xxxxxl: 82px;
    --line-height-typo-xxxxxxl: 115px;
}
.theme_space_default {
    --space-xxxs: 2px;
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-xxl: 32px;
    --space-xxxl: 40px;
    --space-xxxxl: 48px;
    --space-xxxxxl: 72px;
    --space-xxxxxxl: 96px;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-typo-primary);
  font-family: var(--font-family-sans);
  letter-spacing: 0;
  overflow-x: hidden;
  background-color: var(--color-bg-default);
  padding: 0;
  margin: 0;
}
.page, html {
  height: 100%;
}
.page {
    background-color: var(--color-bg-default);
    padding: 0;
    margin: 0;
}

.header {
  text-align: center;
}
.socials__list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.pt-card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pt-card, .pt-card__content {
    position: relative;
}

.pt-card__image {
    width: 100%;
}
.pt-card__image_size_cover {
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio {
  width: 350px;
  max-width: 350px;
  height: 170px;
  overflow: hidden;
  /*  */
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.portfolio:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (min-width: 320px) {
  .portfolio {
    width: 280px;
  }
}
@media screen and (min-width: 375px) {
  .portfolio {
    width: 320px;
  }
}
@media screen and (min-width: 425px) {
  .portfolio {
    width: 305px;
  }
}
.tpl-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.tpl-layout {
    display: grid;
}
.tpl-layout__content {
    padding: 0 var(--gap);
}
.tpl-layout__container {
    width: 100%;
}
.tpl-layout__container_size_m {
    max-width: 1144px;
}
.tpl-layout__container_align_center {
    margin: 0 auto;
}
.tpl-layout__section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tpl-grid__fraction {
    min-width: 0;
}
.decorator_indent-a_auto {
    margin: auto;
}
.decorator_indent-b_xxxl {
    margin-bottom: var(--space-xxxl);
}
.decorator_indent-b_xxxxxxl {
    margin-bottom: var(--space-xxxxxxl);
}

.pt-card_border_all {
    border: 1px solid var(--color-bg-border);
}

.pt-card_shadow_cloud {
    -webkit-box-shadow: 0 20px 20px var(--color-bg-ghost);
    box-shadow: 0 20px 20px var(--color-bg-ghost);
}
