.page, html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    color: var(--color-typo-primary);
    font-family: var(--font-family-sans);
    letter-spacing: 0;
    overflow-x: hidden;
    background-color: var(--color-bg-default);
    padding: 0;
    margin: 0;
}


.portfolio {
    min-width: 350px;
    max-width: 350px;
    min-height: 456px;
    overflow: hidden;
}
.portfolio_background_funbox {
  background: url(image/background-funbox.jpg);
}
@media screen and (min-width: 320px) {
  .portfolio {
    min-width: 280px;
  }
}
@media screen and (min-width: 375px) {
  .portfolio {
    min-width: 320px;
  }
}
@media screen and (min-width: 425px) {
  .portfolio {
    min-width: 305px;
  }
}