.carousel__control {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    cursor: pointer;
    user-select: none;
}

@media screen and (min-width: $screen-s) {
    .carousel__control {
        display: none;
    }
}
