.about__photos {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: $screen-xs-max) {
    .about__photos {
        min-height: 342px;
    }
}

@media screen and (min-width: $screen-s) {
    .about__photos {
        min-height: 465px;
    }
}
@media screen and (min-width: $screen-xl) {
    .about__photos {
        position: absolute;
        left: 166px;
        min-width: 662px;
        min-height: 481px;
    }
}
