.card {
    display: block;
    color: #1d1c1c;
    font-family: "Source Serif Roman", "Times New Roman", serif;
    text-decoration: none;
}
@media screen and (min-width: 320px) {
    .card {
        width: 280px;
    }
}
@media screen and (min-width: 375px) {
    .card {
        width: 335px;
    }
}
@media screen and (min-width: 425px) {
    .card {
        width: 380px;
    }
}
