body {
  margin: 0 auto;

  font-family: "Open Sans", "Arial", sans-serif;

  text-decoration: none;

  color: #000;
  background: #062562 url("../img/bg.svg") no-repeat;
}

// body > * {
//   outline: 2px solid red;
// }

// body > * > * {
//   outline: 2px dotted blue;
//   outline-offset: -2px;
// }

// body > * > * > * {
//   outline: 2px solid green;
//   outline-offset: -4px;
// }
