.about__content {
    display: flex;
}
@media screen and (max-width: $screen-xs-max) {

    .about__content {
        flex-direction: column;
        padding: 25px;
        text-align: center;
    }
}
@media screen and (min-width: $screen-s) {

    .about__content > .about__column {
        padding-top: 30px;
        width: calc(306/640*100%);
    }
    .about__content > .about__column:first-child {
        margin-top: -40px;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: $screen-l-max) {
    .about__content {
        justify-content: space-between;
    }
}
@media screen and (min-width: $screen-xl) {
    .about__content {
        position: absolute;
        right: 167px;
        width: 645px;
        flex-direction: column;
        margin-top: 159px;
        padding: 57px 83px 90px 251px;
        background-color: #f8f8f8;
        box-sizing: border-box;
        z-index: -1;
    }
    .about__content > .about__column:first-child {
        margin: 0;
        padding: 0;
        width: fit-content;
    }
    .about__content > .about__column {
        padding: 0;
        width: fit-content;
    }
}
