.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media only screen and (min-width: $screen-xl) {
    .about {
        padding-bottom: 60px;
    }
}
