@media only screen and (max-width:  $screen-xs-max) {

    .header__social-links {
        display: none;
    }
}
@media only screen and (max-width: $screen-l-max) and (min-width: $screen-s) {

    .header__social-links {
        margin: 0 0 74px 61px;
    }
}
@media only screen and (min-width: $screen-xl) {

    .header__social-links {
        margin: 0 0 37px 153px;
        padding: 0;
    }
}
