html {
    min-height: 100%;
}

.page_theme_islands {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: #000;
    background: #fff;
}

.theme_breakpoint_default {
	--screen-xs: 320px;
	--screen-s: 720px;
	--screen-m: 1024px;
	--screen-l: 1280px;
	--screen-xl: 1440px;
	--screen-xxl: 1600px;

	--screen-xs-max: 719px;
	--screen-s-max: 1023px;
	--screen-m-max: 1279px;
	--screen-l-max: 1439px;
	--screen-xl-max: 1599px;
	--screen-xxl-max: 1920px;
}

/* Базовые цвета от которых выстраивается вся политра */

/* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */

/* hsl(0, 0%, 100%) Базовый цвет поверхностей */

/* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */

/* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */

/* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */

/* Цвет успеха */

/* Цвет ошибки */

/* Цвет предупреждения */

/* Цвет нейтральный */

/* Цвет системнный */

/* Цвета фона */

/* Цвет фона брендированый */

/* Цвет фона действия */

/* Цвет фона выделения */

/* Цвет фона при наведении */

/* Цвет границ */

/* Цвет зебры */

/* Цвет затенения */

/* Цвет дефолта */

/* Цвет паранджи */

/* Цвет молока */

/* Цвет фона успеха */

/* Цвет фона ошибки */

/* Цвет фона предупреждения */

/* Цвет фона нейтральный */

/* Цвет фона системнный */

/* Цвет фона ссылки */

/* Цвета текста */

/* Цвет брендового текста */

/* Цвет основного текста */

/* Цвет промо текста */

/* Цвет второстепенного текста */

/* Цвет дополнительного текста */

/* Цвет неактивного текста */

/* Цвет текста успеха */

/* Цвет текста предупреждения */

/* Цвет текста ошибки */

/* Цвета ссылок */

/* Цвет основной ссылки */

/* Цвет дополнительной ссылки */

/* Цвет второстепенной ссылки */

/* Цвет ховера ссылки */

.theme_color_whitepaper-default {
	/* Цвета блоков */
	--color-bg-brand: #0056b3; /* Цвет фона брендированый */
	--color-bg-action: color(#0056b3 l(+15%)); /* Цвет фона действия */
	--color-bg-selection: color(#0056b3 h(-1) l(+31%)); /* Цвет фона выделения */
	--color-bg-hover: color(#000 a(15%)); /* Цвет фона при наведении */
	--color-bg-border: color(#000 a(5%)); /* Цвет границ */
	--color-bg-stripe: color(#000 a(4%)); /* Цвет зебры */
	--color-bg-ghost: color(#000 a(8%)); /* Цвет затенения */
	--color-bg-default: #fff; /* Цвет дефолта */
	--color-bg-tone: color(#000 a(90%)); /* Цвет паранджи */
	--color-bg-soft: color(#fff a(97%)); /* Цвет молока */
	--color-bg-success: #00985f; /* Цвет успеха */
	--color-bg-alert: #f33; /* Цвет ошибки */
	--color-bg-warning: #f90; /* Цвет предупреждения */
	--color-bg-normal: #dde3e5; /* Цвет нейтральный */
	--color-bg-system: #778a9b; /* Цвет системнный */
	--color-bg-link: color(#0070f0 h(-7%) s(-13) l(+14) a(40%)); /* Цвет фона ссылки */

	/* Цвета текста */
	--color-typo-brand: #0056b3; /* Цвет брендового текста */
	--color-typo-primary: #000; /* Цвет основного текста */
	--color-typo-promo: color(#000 a(80%)); /* Цвет промо текста */
	--color-typo-secondary: color(#000 a(60%)); /* Цвет второстепенного текста */
	--color-typo-ghost: color(#000 a(30%)); /* Цвет дополнительного текста */
	--color-typo-disable: color(#000 a(30%)); /* Цвет неактивного текста */
	--color-typo-success: #00985f; /* Цвет текста успеха */
	--color-typo-warning: #f90; /* Цвет текста предупреждения */
	--color-typo-alert: #f33; /* Цвет текста ошибки */

	/* Цвета ссылок */
	--color-link: #0070f0; /* Цвет основной ссылки */
	--color-link-external: #0070f0; /* Цвет дополнительной ссылки */
	--color-link-minor: color(#0070f0 h(+22) s(-80%) l(+13%)); /* Цвет второстепенной ссылки */
	--color-link-hover: color(#0070f0 l(-7%)); /* Цвет ховера ссылки */
}

/* Отступы */

.theme_space_default {
	/* Отступы */
	--space-xxxs: 2px;
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 20px;
	--space-xl: 24px;
	--space-xxl: 32px;
	--space-xxxl: 40px;
	--space-xxxxl: 48px;
	--space-xxxxxl: 72px;
	--space-xxxxxxl: 96px;
}

.theme_menu_default {
	--menu-unfold: 300px;
	--menu-fold: 56px;
}

/* Размеры текста */

/* Межстрочный интервал */

.theme_size_default {
	/* Размер текста */
	--size-typo-xs: 11px;
	--size-typo-s: 13px;
	--size-typo-m: 15px;
	--size-typo-l: 18px;
	--size-typo-xl: 20px;
	--size-typo-xxl: 24px;
	--size-typo-xxxl: 32px;
	--size-typo-xxxxl: 48px;
	--size-typo-xxxxxl: 72px;
	--size-typo-xxxxxxl: 96px;

	/* Межстрочный интервал */
	--line-height-typo-xs: 15px;
	--line-height-typo-s: 18px;
	--line-height-typo-m: 21px;
	--line-height-typo-l: 25px;
	--line-height-typo-xl: 28px;
	--line-height-typo-xxl: 34px;
	--line-height-typo-xxxl: 42px;
	--line-height-typo-xxxxl: 62px;
	--line-height-typo-xxxxxl: 82px;
	--line-height-typo-xxxxxxl: 115px;
}

.theme_font_SourceSerifRoman {
    font-family: "Source Serif Roman";
}

:root {
	/* Размеры отступа у контента */
	--gap: 16px;

	/* Размеры отступов в колонках */
	--col-gap-third: calc(var(--gap)*0.33);
	--col-gap-half: calc(var(--gap)*0.5);
	--col-gap-two-thirds: calc(var(--gap)*0.66);
	--col-gap-full: var(--gap);
	--col-gap-2x: calc(var(--gap)*2);
	--col-gap-3x: calc(var(--gap)*3);
}

@media screen and (min-width: 720px) {
	:root { --gap: 32px; }
}

@media screen and (min-width: 1024px) {
	:root { --gap: 40px; }
}

@media screen and (min-width: 1280px) {
	:root { --gap: 48px; }
}

.theme_control_whitepaper-default {
    --color-control-bg-default: rgb(240, 240, 240);
    --color-control-bg-default-hover: rgba(0, 0, 0, 0.15);
    --color-control-bg-default-press: rgba(0, 0, 0, 0.2);
    --color-control-bg-default-affect: rgb(255, 255, 255);
    --color-control-bg-border-default: rgb(240, 240, 240);
    --color-control-bg-border-default-hover: rgba(0, 0, 0, 0.25);
    --color-control-bg-border-default-press: rgba(0, 0, 0, 0.35);
    --color-control-bg-border-focus: rgba(0, 123, 255, 0.5);
    --color-control-typo-primary: #000;
    --color-control-typo-secondary: rgba(0, 0, 0, 0.6);
    --color-control-typo-ghost: rgba(0, 0, 0, 0.35);
    --color-control-typo-placeholder: rgb(153, 153, 153);
    --color-control-typo-affect: rgb(255, 255, 255);
    --color-control-typo-action: #0070f0;
    --color-control-bg-action: rgb(0, 123, 255);
    --color-control-bg-action-hover: rgb(26, 136, 255);
    --color-control-bg-action-press: rgb(0, 106, 219);
    --color-control-bg-action-progress: rgba(0, 86, 179, 0.3);
    --color-control-bg-action-progressing: rgba(0, 86, 179, 0.3);
    --color-control-bg-clear: rgba(0, 0, 0, 0);
    --color-control-bg-clear-hover: rgba(0, 0, 0, 0.07);
    --color-control-bg-clear-press: rgba(0, 0, 0, 0.12);
    --color-control-bg-check: rgb(0, 113, 235);
    --color-control-bg-check-press: rgb(51, 150, 255);
    --color-control-bg-check-hover: rgb(51, 150, 255);
    --color-control-bg-border-check: rgb(0, 113, 235);
    --color-control-bg-border-check-press: rgba(0, 0, 0, 0.35);
    --color-control-bg-border-check-hover: rgb(0, 81, 168);
    --color-control-link-default: #0070f0;
    --color-control-bg-link-default: #0070f0;
    --color-control-bg-border-link-default: #0070f0;
    --color-control-bg-disable: rgb(230, 230, 230);
    --color-control-bg-disable-check: rgb(224, 224, 224);
    --color-control-bg-border-disable: rgb(153, 153, 153);
    --color-control-typo-disable: rgb(153, 153, 153);
    --color-control-typo-placeholder-disable: rgb(128, 128, 128);
    --control-radius: 4px;
    --control-border-width: 2px;
    --control-button-size-l: var(--space-xxxxl);
    --control-button-size-m: var(--space-xxxl);
    --control-button-size-s: var(--space-xxl);
    --control-space-xl: var(--space-xl);
    --control-space-l: var(--space-l);
    --control-space-m: var(--space-m);
    --control-space-s: var(--space-s);
    --control-space-xs: var(--space-s);
    --control-size-l: var(--size-typo-l);
    --control-size-m: var(--size-typo-m);
    --control-size-s: var(--size-typo-s);
}

.tpl-layout {
	display: grid;
}

.header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 719px) {
    .header {
        background-image: url(../../common.blocks/image/hero-mobile.jpg);
    }
}

@media screen and (min-width: 720px) {
    .header {
        min-height: 823px;
        background-color: #f8f8f8;
    }
    .header::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;

        background-image: url(../../common.blocks/image/hero-bg-tablet.jpg);
        background-repeat: no-repeat;
        width: 308px;
        height: 823px;
        z-index: -1px;
    }
    .header::before {
        position: absolute;
        content: '';
        top: 162px;
        right: 50px;
        width: 327px;
        height: 499px;
        background-image: url(../../common.blocks/image/hero-tablet.jpg);
        background-size: contain;
        background-position-y: 0;
        z-index: 100;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        min-height: 782px;
    }
    .header::after {
        background-image: url(../../common.blocks/image/hero-bg-desktop.png);
        width: 440px;
        height: 780px;
    }
     .header::before {
        top: 161px;
        right: 235px;
     }
}

@media screen and (min-width: 1440px) {
    .header {
        min-height: 782px;
    }
    .header::after {
        background-image: url(../../common.blocks/image/hero-bg-desktop.png);
        width: 685px;
        height: 780px;
    }
     .header::before {
        top: 161px;
        right: 431px;
     }
}

.tpl-layout__content {
	padding: 0 var(--gap);
}

.decorator_indent-b_xxxxxxl {
	margin-bottom: var(--space-xxxxxxl);
}

.tpl-layout__container {
	width: 100%;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 1439px) {

    .header__logo {
        margin-left: calc(-1*var(--gap));
    }
}

.image {
    border: 0;
}

.pt-surface {
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	display: none;
	-webkit-overflow-scrolling: touch;
}

.pt-surface_view_gray {
    background-color: #f8f8f8;
}

@media screen and (min-width: 1024px) {
    .pt-surface_for_desktop {
        display: block;
        background-color: transparent;
        position: inherit;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

}

.pt-surface__window {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.pt-surface__content {
	margin: auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

.pt-surface__close {
	position: fixed;
	top: var(--space-m);
	right: var(--space-m);
	cursor: pointer;
	-webkit-transition: opacity 0.2s ease-out 0s;
	transition: opacity 0.2s ease-out 0s;
	z-index: 10;
}

.pt-surface__close:hover {
		opacity: 1;
		-webkit-transition: none;
		transition: none;
	}

.icon {
    display: inline-block;

    text-align: center;

    background: 50% no-repeat;
}

/* Hack for correct baseline positioning */

.icon:empty:after {
        visibility: hidden;

        content: '\00A0';
    }

/*
     * Чтобы иконка правильно позиционировалась внутри блочного контекста,
     * нужно прописать родителю свойство line-height со значением, равным высоте иконки
     */

.icon > img,
    .icon > svg {
        margin: -5.15em 0 -5em; /* 0.15 — magic number, empirically found */

        vertical-align: middle;
    }

.icon {
	background-repeat: no-repeat;
	display: inline-block;
}

.pt-list {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.menu {
    overflow-y: auto;
}

.menu {
    margin-top: 115px;
}

@media screen and (min-width: 1024px) {

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0;
    }
}

.menu__item {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

@media screen and (max-width: 719px) {

    .menu__item .link.text {
        display: block;
        padding: var(--space-m) 7px;
        padding-bottom: var(--space-xxs);
        font-size: 22px;
        letter-spacing: 3.66px;
        color: var(--color-typo-primary);
        border-bottom: 4px solid var(--color-typo-brand);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
}

@media screen and (min-width: 720px) {

    .menu__item .link.text {
        display: block;
        padding: var(--space-m) 0;
        padding-bottom: var(--space-s);
        font-size: 37px;
        letter-spacing: 3.66px;
        color: var(--color-typo-primary);
        border-bottom: 6px solid var(--color-typo-brand);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .menu__item .link.text {
        padding: var(--space-m) 0px;
        font-size: var(--size-typo-l);
        letter-spacing: normal;
        border: none;

    }
    .menu__item:first-child {
        display: none;
    }
    .menu__item:nth-child(2),
    .menu__item:nth-child(3) {
        margin-right: 88px;
    }
}

.pt-list__item {
	position: relative;
}

.link {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.link_disabled {
        pointer-events: none;
    }

.text_align_center {
	text-align: center;
}

.text_size_l {
	font-size: var(--size-typo-l);
	line-height: var(--line-height-typo-l);
}

.text_view_link {
	color: var(--color-link);
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.text_view_link:hover {
		color: var(--color-link-hover);
	}

@media screen and (max-width: 719px) {

    .header__phone {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    .header__phone .link {
        z-index: 101;
        font-size: var(--size-typo-l);
        color: var(--color-typo-primary);
        padding: var(--space-m) 0px;
        margin-right: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .header__phone {
        z-index: 101;
        margin-right: calc(100px - var(--gap));
    }
}

@media screen and (min-width: 1440px) {
    .header__phone {
        z-index: 101;
        margin-right: calc(397px - var(--gap));
    }
}

.hero {
    margin-top: 160px;
}

@media screen and (min-width: 720px) {
    .hero {
        margin-top: 285px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        margin-top: 239px;
    }
}

@media screen and (max-width: 719px) {
    .theme_control_whitepaper-inverse {
        --color-control-bg-action-press: #fff;
        --color-control-bg-clear: rgba(255, 255, 255, 0);
        --color-control-bg-clear-hover: rgba(255, 255, 255, 0.07);
        --color-control-bg-clear-press: rgba(255, 255, 255, 0.12);
        --color-control-bg-border-disable: rgb(255, 255, 255);
        --color-control-typo-disable: rgb(255, 255, 255);
        --color-control-typo-placeholder-disable: rgb(255, 255, 255);
    }
    .theme_control_whitepaper-inverse {
        --color-control-bg-default: rgba(255, 255, 255, 0.2);
        --color-control-bg-default-hover: rgba(255, 255, 255, 0.3);
        --color-control-bg-default-press: rgba(255, 255, 255, 0.15);
        --color-control-bg-default-affect: rgb(27, 27, 27);
        --color-control-bg-border-default: rgb(51, 51, 51);
        --color-control-bg-border-focus: rgba(77, 148, 255, 0.5);
        --color-control-typo-placeholder: rgb(102, 102, 102);
        --color-control-typo-affect: rgb(27, 27, 27);
        --color-control-typo-action: #0067ff;
        --color-control-bg-action: #fff;
        --color-control-bg-action-hover: rgb(255, 255, 255);
        --color-control-bg-check: rgb(56, 136, 255);
        --color-control-bg-check-press: rgb(128, 179, 255);
        --color-control-bg-check-hover: rgb(128, 179, 255);
        --color-control-bg-border-check: rgb(56, 136, 255);
        --color-control-bg-border-check-hover: rgb(0, 98, 245);
        --color-control-link-default: #0067ff;
        --color-control-bg-link-default: #0067ff;
        --color-control-bg-border-link-default: #0067ff;
        --color-control-bg-disable: rgb(36, 36, 36);
        --color-control-bg-disable-check: rgb(102, 102, 102);
    }

    .theme_control_whitepaper-inverse {
        --color-control-bg-border-default-hover: rgb(89, 89, 89);
        --color-control-bg-border-default-press: rgb(102, 102, 102);
        --color-control-typo-primary: #fff;
        --color-control-typo-secondary: rgba(255, 255, 255, 0.6);
        --color-control-typo-ghost: rgba(255, 255, 255, 0.3);
        --color-control-bg-action-progress: rgba(255, 255, 255, 0.3);
        --color-control-bg-action-progressing: rgba(255, 255, 255, 0.3);
        --color-control-bg-border-check-press: rgba(255, 255, 255, 0.35);
        --control-radius: 4px;
        --control-border-width: 2px;
        --control-button-size-l: var(--space-xxxxl);
        --control-button-size-m: var(--space-xxxl);
        --control-button-size-s: var(--space-xxl);
        --control-space-xl: var(--space-xl);
        --control-space-l: var(--space-l);
        --control-space-m: var(--space-m);
        --control-space-s: var(--space-s);
        --control-space-xs: var(--space-s);
        --control-size-l: var(--size-typo-l);
        --control-size-m: var(--size-typo-m);
        --control-size-s: var(--size-typo-s);
    }
}

@media screen and (max-width: 719px) {
.theme_color_whitepaper-portal-brand {
    --color-bg-brand: #fff;
    --color-bg-action: rgb(255, 255, 255);
    --color-bg-selection: rgb(255, 255, 255);
    --color-bg-hover: rgba(255, 255, 255, 0.15);
    --color-bg-border: rgba(255, 255, 255, 0.8);
    --color-bg-stripe: rgba(255, 255, 255, 0.04);
    --color-bg-ghost: rgba(255, 255, 255, 0.08);
    --color-bg-default: #0080F5;
    --color-bg-tone: rgba(255, 255, 255, 0.9);
    --color-bg-soft: rgba(0, 128, 245, 0.97);
    --color-bg-success: #00985f;
    --color-bg-alert: #f33;
    --color-bg-warning: #f90;
    --color-bg-normal: #dde3e5;
    --color-bg-system: #778a9b;
    --color-bg-link: rgba(16, 147, 234, 0.4);
    --color-typo-brand: #fff;
    --color-typo-primary: #fff;
    --color-typo-promo: rgba(255, 255, 255, 0.8);
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-ghost: rgba(255, 255, 255, 0.3);
    --color-typo-disable: rgba(255, 255, 255, 0.3);
    --color-typo-success: #00985f;
    --color-typo-warning: #f90;
    --color-typo-alert: #f33;
    --color-link: #0056b3;
    --color-link-external: #0056b3;
    --color-link-minor: rgb(98, 104, 147);
    --color-link-hover: rgb(0, 69, 143);
}

}

@media screen and (min-width: 720px) {

    .hero__intro {
        padding-left: calc(62px - var(--gap));
    }
}

@media screen and (max-width: 719px) {

    .hero__description {
        color: #fff;
    }
}

.text_view_primary {
	color: var(--color-typo-primary);
}

.text_weight_regular {
	font-weight: 400;
}

@media screen and (min-width: 320px) {

    .text_size_30-36-48 {
        font-size: 30px;
        line-height: 32px;
    }
}

@media screen and (min-width: 720px) {
    .text_size_30-36-48 {
        font-size: 36px;
        line-height: 38px;
    }
}

@media screen and (min-width: 1280px) {

    .text_size_30-36-48 {
        font-size: 48px;
        line-height: 50px;
    }
}

@media screen and (min-width: 720px) {

    .hero__title {
        position: relative;
        margin-bottom: 35px;
        z-index: 1;
    }
    .hero__title::after {
        position: absolute;
        content: '';
        top: -19px;
        left: -41px;
        width: 359px;
        height: 79px;
        background-image: url(../../common.blocks/hero/__title/foodPhotogrphy-tablet.png);
        background-repeat: no-repeat;
        z-index: -1;
    }
}

@media screen and (min-width: 1280px) {

    .hero__title {
        margin-bottom: 30px;
    }
    .hero__title::after {
        position: absolute;
        content: '';
        top: -36px;
        left: -29px;
        width: 494px;
        height: 107px;
        background-image: url(../../common.blocks/hero/__title/foodPhotogrphy-desktop.png);
        background-repeat: no-repeat;
        z-index: -1;
    }
}

@media screen and (min-width: 720px) {

    .hero__subtitle {
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 1280px) {

    .hero__subtitle {
        margin-bottom: 40px;
    }
}

.text_weight_light {
	font-weight: 300;
}

.text_size_s {
	font-size: var(--size-typo-s);
	line-height: var(--line-height-typo-s);
}

.button {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.button {
    display: inline-block;
    width: auto;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: initial;
    font-weight: 400;
    text-align: center;
    max-width: 100%;
    font-family: var(--font-sans);
    text-decoration: none;
    border-radius: var(--control-radius);
    -webkit-transition: background .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    transition: background .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    transition: background .15s ease,box-shadow .15s ease,color .15s ease,fill .15s ease;
    transition: background .15s ease,box-shadow .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button:focus {
    outline-offset: 2px;
    outline: 2px solid var(--color-control-bg-border-focus);
}

.button_view_voronina {
    background-color: transparent;
    color: var(--color-control-typo-primary);
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    border-bottom: 2px solid;
    border-radius: unset;
}

.button_view_voronina.button_size_m {
    padding-left: 0;
    padding-right: 0;
}

.button_view_voronina.button_size_l {
    padding-left: 0;
}

.button_view_voronina .button__text {
    text-transform: uppercase;
}

.button_size_m {
    font-size: var(--control-size-m);
    line-height: var(--control-button-size-m);
    height: var(--control-button-size-m);
    padding: 0 var(--control-space-m);
}

@media screen and (max-width: 719px) {

    .hero__button {
        margin-bottom: 154px;
    }
}

@media screen and (min-width: 720px) {

    .hero__button {
        margin-bottom: 218px;
    }
}

@media screen and (min-width: 1440px) {

    .hero__button {
        margin-bottom: 243px;
    }
}

.icon_view_primary {
	fill: var(--color-typo-primary);
}

.decorator_indent-l_s {
	margin-left: var(--space-s);
}

.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero__social-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 1.4px;
}

@media screen and (max-width: 719px) {
    .hero__social-links {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    .hero__social-links {
        max-width: 195px;
    }
}

.social-links__link {
    text-decoration: none;
}

.text_view_ghost {
	color: var(--color-typo-ghost);
}

.text_transform_uppercase {
	text-transform: uppercase;
}

.text_size_xs {
	font-size: var(--size-typo-xs);
	line-height: var(--line-height-typo-xs);
}

.tpl-layout__container_size_m {
	max-width: 1144px;
}

.tpl-layout__heading { }

.tpl-layout__heading {
    letter-spacing: 2.75px;
}

@media screen and (min-width: 720px) {
    .tpl-layout__heading {
        letter-spacing: 3.66px;
        font-size: var(--size-typo-xxl);
        line-height: var(--line-height-typo-xxl);
    }
}

@media screen and (min-width: 1440px) {
    .tpl-layout__heading {
        letter-spacing: 3.6px;
    }
}

.tpl-layout__section {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width: 720px) {

    .portfolio-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 641px;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-section {
        width: 755px;
    }
}

@media screen and (min-width: 1440px) {
    .portfolio-section {
        width: 1106px;
    }
}

.decorator_indent-v_l {
	margin-top: var(--space-l);
	margin-bottom: var(--space-l);
}

@media screen and (max-width: 719px) {

    .portfolio-section__column {
        margin: auto;
    }
}

@media screen and (min-width: 720px) {
    .portfolio-section__column:first-child {
        width: 240px;
        padding-top: 99px;
    }
    .portfolio-section__column {
        width: 184px;
    }
    .portfolio-section__column:last-child {
        padding-top: 115px;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-section__column:first-child {
        width: 275px;
        padding-top: 135.5px;
    }
    .portfolio-section__column {
        width: 205.5px;
    }
    .portfolio-section__column:last-child {
        padding-top: 157.5px;
    }
}

@media screen and (min-width: 1440px) {
    .portfolio-section__column:first-child {
        width: 414px;
        padding-top: 172px;
    }
    .portfolio-section__column {
        width: 317px;
    }
    .portfolio-section__column:last-child {
        width: 315px;
        padding-top: 200px;
    }
}

.portfolio-card {
    width: 100%;
    max-width: 343px;
    margin: auto;
    margin-bottom: 69px;
}

.portfolio-card .pt-card__image {
    width: 100%;

}

.pt-card {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}

.pt-card_border_all {
	border: 1px solid var(--color-bg-border);
}

.pt-card_shadow_cloud {
	-webkit-box-shadow: 0 20px 20px var(--color-bg-ghost);
	        box-shadow: 0 20px 20px var(--color-bg-ghost);
}

.pt-card_view_default {
	background-color: var(--color-bg-default);
}

.pt-card__content {
	position: relative;
}

.pt-card__image {
	width: 100%;
}

.text_weight_bold {
	font-weight: 600;
}

.portfolio-all-section .tpl-layout__section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media screen and (max-width: 719px) {
    .portfolio-all-section {
        background-image: url(../../common.blocks/image/portfolio-image-5-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .portfolio-all-section .tpl-layout__section {
        padding-top: 122px;
        padding-left: calc(46px - var(--gap));
        padding-right: calc(77px - var(--gap));
        padding-bottom: 120px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

@media screen and (min-width: 720px) {
    .portfolio-all-section {
        position: relative;
        height: 371px;
    }
    .portfolio-all-section::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 343px;
        top: 28px;
        left: calc(-1*var(--gap));
        background-image: url(../../common.blocks/image/portfolio-image-5-tablet.png);
        background-size: auto;
        background-repeat: no-repeat;
    }
    .portfolio-all-section .tpl-layout__section {
        padding-top: 102px;
        padding-left: 283px;
        padding-right: 120px;
        padding-bottom: 44px;
        margin-left: calc(-1*var(--gap));
        margin-right: 130px;
        background-color: #f8f8f8;
        z-index: -1;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-all-section {
        height: 506px;
        position: relative;
    }
    .portfolio-all-section::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 468px;
        top: 38px;
        left: calc(-1*var(--gap));
        background-image: url(../../common.blocks/image/portfolio-image-5-desktop.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .portfolio-all-section .tpl-layout__section {
        padding-top: 145px;
        padding-left: 560px;
        padding-right: 80px;
        padding-bottom: 44px;
        margin-left: calc(-1*var(--gap));
        z-index: -1;
    }
}

@media screen and (min-width: 1280px) {
    .portfolio-all-section {
        min-height: 506px;
    }
    .portfolio-all-section .tpl-layout__section {
        padding-left: 600px;
    }
}

@media screen and (min-width: 1440px) {

    .portfolio-all-section .tpl-layout__section {
        padding-left: 560px;
    }
}

.decorator_indent-b_l {
	margin-bottom: var(--space-l);
}

.decorator_indent-b_s {
	margin-bottom: var(--space-s);
}

.pt-icon-plus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.pt-icon-plus_vertical-align_center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.pt-icon-plus_vertical-align_center .pt-icon-plus__icon {
		margin-top: 0;
	}

.pt-icon-plus__block {
	position: relative;
	top: 1px; /* fix */
}

.pt-icon-plus__icon {
	margin-top: 0.2em;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.portfolio-all-section__social-links {
    display: none;
}

@media screen and (max-width: 719px) {
    .about {
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    .about {
        position: relative;
        height: 710px;
    }
}

@media screen and (min-width: 1440px) {

    .about__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.about__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 719px) {
    .about__photos {
        min-height: 342px;
    }
}

@media screen and (min-width: 720px) {
    .about__photos {
        min-height: 465px;
    }
}

@media screen and (min-width: 1440px) {
    .about__photos {
        position: absolute;
        left: 166px;
        min-width: 662px;
        min-height: 481px;
    }
}

.about__column .image {
    width: 100%;
}

.about__column_type_right {
    width: 45.3125%;
    padding-top: 35px;
}

@media screen and (min-width: 720px) {
    .about__column_type_right {
        width: 47.8125%;
        padding-top: 48px;
    }
}

@media screen and (min-width: 1440px) {}

.about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 719px) {

    .about__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 25px;
        text-align: center;
    }
}

@media screen and (min-width: 720px) {

    .about__content > .about__column {
        padding-top: 30px;
        width: 47.8125%;
    }
    .about__content > .about__column:first-child {
        margin-top: -40px;
        padding-top: 0;
    }
}

@media screen and (max-width: 1439px) {
    .about__content {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media screen and (min-width: 1440px) {
    .about__content {
        position: absolute;
        right: 167px;
        width: 645px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 159px;
        padding: 57px 83px 90px 251px;
        background-color: #f8f8f8;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        z-index: -1;
    }
    .about__content > .about__column:first-child {
        margin: 0;
        padding: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .about__content > .about__column {
        padding: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

.text_xs-visibility_hidden {
    position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.contact-links__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about__button {
    margin-top: 25px;
}

@media screen and (min-width: 720px) {
    .price__section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 641px;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .price__section {
        width: 755px;
    }
}

@media screen and (min-width: 1440px) {
    .price__section {
        width: 1106px;
    }
}

@media screen and (min-width: 720px) {

    .price__column:nth-child(1) {
        width: 37.34375%;
        padding-top: 102px;
    }
    .price__column:nth-child(2) {
        width: 29.0625%;
    }
    .price__column:nth-child(2) > .price-card .pt-card__image {
        height: 234px;
    }
    .price__column:nth-child(3) {
        width: 28.28125%;
        padding-top: 118px;
    }
    .price__column:nth-child(3) > .price-card .pt-card__image {
        height: 291px;
    }
}

.price-card {
    width: 290px;
}

.price-card {
    width: 100%;
    max-width: 343px;
    margin: auto;
    margin-bottom: 69px;
}

.price-card .pt-card__image {
    width: 100%;

}

@media screen and (min-width: 720px) {
    .price-card.pt-card__content {

    }
}

.decorator_indent-h_xxs {
	margin-left: var(--space-xxs);
	margin-right: var(--space-xxs);
}

.decorator_space-a_s {
	padding: var(--space-s);
}

.pt-table__row {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	margin-top: var(--space-xs);
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.pt-table__row:first-child {
		margin-top: 0;
	}

.pt-table__col {
	position: relative;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.text_view_brand {
	color: var(--color-typo-brand);
}

.price-card__title {
    font-family: "Source Serif Roman";
}

.text_align_right {
	text-align: right;
}

.text_display_inline-block {
	display: inline-block;
}

.text_type_h2 {
	margin: 48px 0 20px;
}

@media screen and (min-width: 320px) {
    .page-footer__contact-links {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .page-footer__contact-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media screen and (min-width: 720px) {
    .page-footer__contact-links {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .page-footer__contact-links {
        margin-top: 65px;
        margin-bottom: 65px;
    }
}

.decorator_indent-h_xs {
	margin-left: var(--space-xs);
	margin-right: var(--space-xs);
}

.page-footer__social-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    margin: 0 auto 35px;
    padding: 0;
}

@media screen and (min-width: 320px) {
    .page-footer__social-links {
        max-width: 183px;
    }
}

@media screen and (min-width: 720px) {
    .page-footer__social-links {
        max-width: 196px;
    }
}

.social-icon {
	background-repeat: no-repeat;
}

.social-icon_size_m {
	width: 32px;
	height: 32px;
}

.social-icon_view_primary svg {
  fill: var(--color-typo-primary);
}

.tpl-layout__container_align_center {
	margin: 0 auto;
}

.pt-surface__content_size_full {
	width: 100%;
	min-height: 100%;
}

.pt-surface__close_view_desktop {
	width: var(--space-xl);
	height: var(--space-xl);
}

@media screen and (min-width: 1024px) {

    .pt-surface__close_for_desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .pt-surface__action_for_desktop {
        display: none;
    }
}

.pt-icon-plus__icon_indent-l_s {
	margin-left: var(--space-s);
}

.about__column_type_left {
    width: 51.5625%;
}

@media screen and (min-width: 720px) {
    .about__column_type_left {
        width: 47.8125%;
    }
}

.pt-table__row_view_head {
	background: transparent;
}

.pt-table__row_view_head:hover {
		background: transparent;
	}

.pt-table__row_view_head + .pt-table__row {
		margin-top: 0;
	}

.pt-table__col_grow_evenly {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
}

.pt-table__col_align_right {
	text-align: right;
}

.pt-icon-plus__icon_indent-r_xs {
	margin-right: var(--space-xs);
}