
.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.wrapper {
    display: grid;
    margin: 1em;
    @media @user-width {
      grid-template-columns: minmax(110px, 1fr) 3fr 3fr;
      grid-template-rows: min-content 1fr;
    }
}

.no-outline() {
  outline: none;
  background: transparent;
  &::before {
    display: none;
  }
}

/* вспомогательные классы */
.animate {
    animation: preloader 2.5s infinite linear;
}
@keyframes preloader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* выше вспомогательные классы */