// body > * {
//   outline: 2px solid deeppink;
// }
// body > * > * {
//   outline: 2px dashed lime;
//   outline-offset: -2px;
// }
// body > * > * > * {
//   outline: 2px dotted dodgerblue;
//   outline-offset: -4px;
// }
// body > * > * > * > * {
//   outline: 2px dotted grey;
//   outline-offset: -4px;
// }
/* Layout 
 ------------------------------ */
html {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html * ,
html::after ,
html::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 1em;
  font: 1em/1.375em Open Sans, Arial, sans-serif;
  word-wrap: break-word;
  justify-content: space-between;
  color:@body-bg;
  background-color: @body-color;

}

main {
  height: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
