// файл variables.less LESS 
@body-bg: black;
@body-color: white;
@link-color: darkblue;
@inner-stroke-color: lightgrey;
@outside-stroke-color: yellow;

/* «Минимальная ширина 568px, либо носимое устройство в горизонтальном режиме» */
@user-width: ~"(min-width: 568px),
handheld and (orientation: landscape)";
//
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
