.portfolio__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}
@media screen and (max-width: $screen-l-max) and (min-width: $screen-s) {
    .portfolio__top {
        padding-top: 16px;
    }
}
@media screen and (max-width: 425px) {
    .portfolio__top {
        flex-wrap: wrap;
        justify-content: center;
    }
}
