.header__phone {
    float: right;
}
@media screen and (max-width: 653px) {
    .header__phone {
        display: none;
    }
}
@media only screen and (max-width: $screen-l-max) and (min-width: 426px) {
    .header__phone {
        margin-top: 16px;
        margin-right: 126px;
    }
}

@media only screen and (min-width: $screen-xl) {

    .header__phone {
        margin-top: 31px;
        margin-right: 398px;
    }
}
