@media screen and (max-width: $screen-xs-max) {

    .header__phone {
        display: none;
    }
}

@media screen and (min-width: $screen-s) {
    .header__phone .link {
        z-index: 101;
        font-size: var(--size-typo-l);
        color: var(--color-typo-primary);
        padding: var(--space-m) 0px;
        margin-right: 70px;
    }
}

@media screen and (min-width: $screen-m) {
    .header__phone {
        z-index: 101;
        margin-right: calc(100px - var(--gap));
    }
}

@media screen and (min-width: $screen-xl) {
    .header__phone {
        z-index: 101;
        margin-right: calc(397px - var(--gap));
    }
}
