.popup__item {
    width: 80px;
    padding: 17px 0;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #444;
    text-align: center;
    border: 2px solid #ececec;
}
.popup__item:hover {
    border-color: #c7c7c7;
}
.popup__item:active {
    border-color: #62d1ba;
}

@media (min-width: 768px) {

    .popup__item {
        width: 111px;
    }
}
