.one__socials {
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: $screen-xs-max) {

    .one__socials {
        display: none;
    }
}
@media screen and (min-width: $screen-s) {

    .one__socials {
        width: 236px;
    }
}
@media screen and (min-width: $screen-l) {

    .one__socials {
        width: 296px;
    }
}
