html {
	min-height: 100%;
}

.page_theme_islands {
	/* font-family: var(--page-fontFamily); */

	min-height: 100%;
	margin: 0;

	color: var(--color-typo-primary); /* !!! */
	background: var(--color--default); /* !!! */

}

.theme {
    --shadow-cloud: 0 20px 20px var(--color-bg-ghost);

    --graphics-size-s: 16px;
    --graphics-size-m: 24px;
    --graphics-size-l: 32px;
    --graphics-size-xl: 40px;
    --graphics-size-2xl: 60px;
    --graphics-size-3xl: 80px;
    --graphics-size-4xl: 120px;

    --radius-m: 16px;

    --border-width-default: 1px;

    font-size: var(--size-text-base);
}

/* Базовые цвета от которых выстраивается вся политра */

/* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */

/* hsl(0, 0%, 100%) Базовый цвет поверхностей */

/* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */

/* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */

/* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */

/* Цвет успеха */

/* Цвет ошибки */

/* Цвет предупреждения */

/* Цвет нейтральный */

/* Цвет системнный */

/* Цвета фона */

/* Цвет фона брендированый */

/* Цвет границ */

/* Цвет зебры */

/* Цвет затенения */

/* Цвет дефолта */

/* Цвет паранджи */

/* Цвет молока */

/* Цвет фона успеха */

/* Цвет фона ошибки */

/* Цвет фона предупреждения */

/* Цвет фона нейтральный */

/* Цвет фона системнный */

/* Цвет фона ссылки */

/* Цвета текста */

/* Цвет брендового текста */

/* Цвет основного текста */

/* Цвет второстепенного текста */

/* Цвет дополнительного текста */

/* Цвет неактивного текста */

/* Цвет текста успеха */

/* Цвет текста предупреждения */

/* Цвет текста ошибки */

/* Цвета ссылок */

/* Цвет основной ссылки */

/* Цвет дополнительной ссылки */

/* Цвет второстепенной ссылки */

/* Цвет ховера ссылки */

.theme_color_whitepaper-default {
    /* Цвета блоков */
    --color-bg-brand: #0056b3; /* Цвет фона брендированый */
    --color-bg-border: rgba(0, 0, 0, 0.05); /* Цвет границ */
    --color-bg-stripe: rgba(0, 0, 0, 0.04); /* Цвет зебры */
    --color-bg-ghost: rgba(0, 0, 0, 0.08); /* Цвет затенения */
    --color-bg-default: #fff; /* Цвет дефолта */
    --color-bg-tone: rgba(0, 0, 0, 0.9); /* Цвет паранджи */
    --color-bg-soft: rgba(255, 255, 255, 0.97); /* Цвет молока */
    --color-bg-success: #00985f; /* Цвет успеха */
    --color-bg-alert: #f33; /* Цвет ошибки */
    --color-bg-warning: #f90; /* Цвет предупреждения */
    --color-bg-normal: #dde3e5; /* Цвет нейтральный */
    --color-bg-system: #778a9b; /* Цвет системнный */
    --color-bg-link: rgba(69, 170, 242, 0.4); /* Цвет фона ссылки */

    /* Цвета текста */
    --color-typo-brand: #0056b3; /* Цвет брендового текста */
    --color-typo-primary: #000; /* Цвет основного текста */
    --color-typo-secondary: rgba(0, 0, 0, 0.6); /* Цвет второстепенного текста */
    --color-typo-ghost: rgba(0, 0, 0, 0.3); /* Цвет дополнительного текста */
    --color-typo-disable: rgba(0, 0, 0, 0.3); /* Цвет неактивного текста */
    --color-typo-success: #00985f; /* Цвет текста успеха */
    --color-typo-warning: #f90; /* Цвет текста предупреждения */
    --color-typo-alert: #f33; /* Цвет текста ошибки */

    /* Цвета ссылок */
    --color-link: #0070f0; /* Цвет основной ссылки */
    --color-link-external: #0070f0; /* Цвет дополнительной ссылки */
    --color-link-minor: rgb(133, 137, 173); /* Цвет второстепенной ссылки */
    --color-link-hover: rgb(0, 95, 204); /* Цвет ховера ссылки */
}

.theme_space_default {
    /* Отступы */
    --space-3xs: 2px;
    --space-2xs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-2xl: 32px;
    --space-3xl: 40px;
    --space-4xl: 48px;
    --space-5xl: 72px;
    --space-6xl: 96px;
}

.theme_size_default {
  /* Font size — DEPRECATED */
  --size-typo-xs: 11px;
  --size-typo-s: 13px;
  --size-typo-m: 15px;
  --size-typo-l: 18px;
  --size-typo-xl: 20px;
  --size-typo-2xl: 24px;
  --size-typo-3xl: 32px;
  --size-typo-4xl: 48px;
  --size-typo-5xl: 72px;
  --size-typo-6xl: 96px;

  /* Line height — DEPRECATED */
  --line-height-typo-xs: 1.4em;
  --line-height-typo-s: 1.5em;
  --line-height-typo-m: 1.6em;
  --line-height-typo-l: 1.6em;
  --line-height-typo-xl: 1.6em;
  --line-height-typo-2xl: 1.5em;
  --line-height-typo-3xl: 1.4em;
  --line-height-typo-4xl: 1.4em;
  --line-height-typo-5xl: 1.2em;
  --line-height-typo-6xl: 1.2em;

  /* Font size */
  --size-text-base: 16px;

  --size-text-xs: 0.7em;
  --size-text-s: 0.8em;
  --size-text-m: 1em;
  --size-text-l: 1.125em;
  --size-text-xl: 1.25em;
  --size-text-2xl: 1.5em;
  --size-text-3xl: 2em;
  --size-text-4xl: 3em;
  --size-text-5xl: 4.5em;
  --size-text-6xl: 6em;

  /* Line height */
  --line-height-text-2xs: 1em;
  --line-height-text-xs: 1.2em;
  --line-height-text-s: 1.4em;
  --line-height-text-m: 1.5em;
  --line-height-text-l: 1.6em;
}

.theme_gap_small {
    /* Размеры отступа у контента */
    --gap: var(--space-s);

    /* Размеры отступов в колонках */
    --col-gap-third: calc(var(--gap) * 0.33);
    --col-gap-half: calc(var(--gap) * 0.5);
    --col-gap-two-thirds: calc(var(--gap) * 0.66);
    --col-gap-full: var(--gap);
}

@media screen and (min-width: 720px) {

.theme_gap_small {
        --gap: var(--space-l)
}
    }

@media screen and (min-width: 1024px) {

.theme_gap_small {
        --gap: var(--space-xl)
}
    }

@media screen and (min-width: 1280px) {

.theme_gap_small {
        --gap: var(--space-2xl)
}
    }

.header {
    display: grid;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1050px;
    margin: auto;
}

@media (max-width: 767px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;

    }
}

@media (min-width: 768px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 0;
        /* grid-template-columns: max-content max-content; */
        /* justify-content: space-between; */
    }
}

.logo {
    display: grid;
    grid-auto-columns: -webkit-min-content 1fr;
    grid-auto-columns: min-content 1fr;
    -webkit-column-gap: 13px;
       -moz-column-gap: 13px;
            column-gap: 13px;
    line-height: 1;
}

.header__logo {

    }

@media (max-width: 767px) {
    .header__logo {

        -webkit-box-pack: center;

            -ms-flex-pack: center;

                justify-content: center;
    }
}

@media (min-width: 768px) {
    .header__logo {
        height: 82px;
    }
}

@media (min-width: 1150px) {
    .header__logo {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.logo__image {
    display: inline-block;
    -ms-flex-item-align: center;
        align-self: center;
    z-index: 1000;
}

.icon {
/*    display: inline-block;

    text-align: center;

    background: 50% no-repeat;

    &:empty:after {
        visibility: hidden;

        content: '\00A0';
    }

    > img,
    > svg {
        margin: -5.15em 0 -5em;

        vertical-align: middle;
    }*/
}

.icon {
    background-repeat: no-repeat;
    display: inline-block;
}

.icon:hover {
    fill: #46c1ae;
}

.icon:active {
    fill: #bde3dd;
}

.icon_name_logo-desktop {
    display: none;
}

@media (min-width: 1150px) {

    .icon_name_logo-desktop {
        display: block;
    }
}

.icon_name_logo-tablet {
    display: none;
}

@media (min-width: 768px) {

    .icon_name_logo-tablet {
        display: block;
    }
}

@media (min-width: 1150px) {

    .icon_name_logo-tablet {
        display: none;
    }
}

.icon_name_logo-mobile {
    display: block;
}

@media (min-width: 768px) {

    .icon_name_logo-mobile {
        display: none;
    }
}

.new-menu {
    z-index: 100;
}

@media (max-width: 767px) {

    .new-menu {
        display: grid;
    }
}

@media (max-width: 767px) {

    .header__new-menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}

@media (min-width: 768px) {

    .header__new-menu {
        -ms-flex-item-align: center;
            align-self: center;
    }
}

.button {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

@media (max-width: 767px) {

    .new-menu__button {
        display: block;
        margin: 21px 26px;
        padding: 0;
        border: none;
        background-color: transparent;
        justify-self: end;
        z-index: 1;
    }
}

@media (min-width: 768px) {
    .new-menu__button {
        display: none;
    }
}

.icon_view_brand {
    fill: var(--color-typo-brand);
    color: var(--color-typo-brand);
}

.icon_view_brand:hover {
    fill: var(--color-typo-alert);
    color: var(--color-typo-alert);
}

@media (max-width: 767px) {

    .new-menu__icon {
        /* display: none */
    }
}

@media (max-width: 767px) {
    .new-menu__icon_view_close,
    .new-menu__button_view_open .new-menu__icon_view_open {
        display: block;
    }
}

.pt-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.new-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: var(--size-text-m, var(--size-typo-m));
    line-height: var(--line-height-text-m, var(--line-height-typo-m));
}

@media (max-width: 767px) {
    .new-menu__list {
        display: none;
        background-color: #fff;
    }
}

@media (min-width: 768px) {
    .new-menu__list {
        display: grid;
        grid-auto-flow: column;
        -webkit-column-gap: 8px;
           -moz-column-gap: 8px;
                column-gap: 8px;
        /*  */
        grid-template-columns: 2fr 2fr 82px 3fr;
        margin-top: -82px;
        font-size: var(--size-text-l, var(--size-typo-l));
        line-height: var(--line-height-text-l, var(--line-height-typo-l));
        z-index: 1;
    }
}

@media (min-width: 1150px) {
    .new-menu__list {
        grid-template-columns: 2fr 2fr 3fr 82px 2fr;
        z-index: 1;
    }
}

@media (max-width: 767px) {
    .new-menu__item {
        letter-spacing: 0.02em;
        border-bottom: 1px solid var(--color-bg-border);
        -ms-flex-item-align: center;
            align-self: center;
    }
    .new-menu__item:first-child {
        border-top: 1px solid var(--color-bg-border);
    }
    .new-menu__item:nth-child(5),
    .new-menu__item:nth-child(6),
    .new-menu__item:nth-child(7) {
        display: none;
    }
}

@media (min-width: 768px) {
    .new-menu__item:nth-child(3) {
        border-left: 1px solid var(--color-bg-border);
        border-right: 1px solid var(--color-bg-border);
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__block {
        display: none
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__icon_indent-r_m {
        margin: 0;
    }
    .new-menu__item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .new-menu__item:nth-child(7) {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
     .new-menu__item:nth-child(5),
    .new-menu__item:nth-child(6) {
        display: none;
    }
}

@media (min-width: 1150px) {
    .new-menu__item:nth-child(3) {
        /* width: 82px; */
        border-left: 1px solid var(--color-bg-border);
        border-right: 1px solid var(--color-bg-border);
        grid-column-start: 4;
        grid-column-end: 4;
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__block {
        display: none
    }
    .new-menu__item:nth-child(3) .pt-icon-plus__icon_indent-r_m {
        margin: 0;
    }
    .new-menu__item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .new-menu__item:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .new-menu__item:nth-child(4) {
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .new-menu__item:nth-child(5) {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(6) {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-menu__item:nth-child(7) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.new-menu__link {
    color: var(--color-typo-primary);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 2em 0;
}

.new-menu__link:hover {
        color: #63d1bb;
    }

.new-menu__link:active {
    color: #63d;
}

@media (min-width: 768px) {
    .new-menu__link {
        padding: 1.8em 0;
        text-align: left;
    }
}

.pt-icon-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.pt-icon-plus_xs-direction_column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.pt-icon-plus_xs-direction_row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

@media screen and (max-width: 1023px) {
        .pt-icon-plus_s-direction_column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
        .pt-icon-plus_s-direction_row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
}

@media screen and (max-width: 1279px) {
        .pt-icon-plus_m-direction_column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
        .pt-icon-plus_m-direction_row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
}

@media screen and (max-width: 1439px) {
        .pt-icon-plus_l-direction_column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
        .pt-icon-plus_l-direction_row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
}

.pt-icon-plus_distribute_center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pt-icon-plus_vertical-align_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pt-icon-plus__icon {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.pt-icon-plus_xs-direction_column .pt-icon-plus__icon {
        margin-bottom: var(--icon-indent);
    }

.pt-icon-plus_xs-direction_row .pt-icon-plus__icon:first-child {
        margin-right: var(--icon-indent);
    }

.pt-icon-plus_xs-direction_row .pt-icon-plus__icon:last-child {
        margin-left: var(--icon-indent);
    }

@media screen and (max-width: 1023px) {
        .pt-icon-plus_s-direction_column .pt-icon-plus__icon {
            margin-bottom: var(--icon-indent);
        }
        .pt-icon-plus_s-direction_row .pt-icon-plus__icon:first-child {
            margin-right: var(--icon-indent);
        }
        .pt-icon-plus_s-direction_row .pt-icon-plus__icon:last-child {
            margin-left: var(--icon-indent);
        }
}

@media screen and (max-width: 1279px) {
        .pt-icon-plus_m-direction_column .pt-icon-plus__icon {
            margin-bottom: var(--icon-indent);
        }
        .pt-icon-plus_m-direction_row .pt-icon-plus__icon:first-child {
            margin-right: var(--icon-indent);
        }
        .pt-icon-plus_m-direction_row .pt-icon-plus__icon:last-child {
            margin-left: var(--icon-indent);
        }
}

@media screen and (max-width: 1439px) {
        .pt-icon-plus_l-direction_column .pt-icon-plus__icon {
            margin-bottom: var(--icon-indent);
        }
        .pt-icon-plus_l-direction_row .pt-icon-plus__icon:first-child {
            margin-right: var(--icon-indent);
        }
        .pt-icon-plus_l-direction_row .pt-icon-plus__icon:last-child {
            margin-left: var(--icon-indent);
        }
}

@media (min-width: 768px) {

    .page__main {
        margin-top: -110px;
    }
}

@media (min-width: 1150px) {

    .page__main {
        margin-top: -112px;
    }
}

.section {
    padding-bottom: 40px;
}

@media (min-width: 768px) {

    .section {
        padding-bottom: 60px;
    }
}

.catalog-slogan {
    background-color: #f1f1f1;
    padding-top: 65px;
    padding-bottom: 65px;
}

.catalog-slogan .text {
    font-size: 27px;
    line-height: 30px;
}

@media (min-width: 768px) {

    .catalog-slogan {
        padding-top: 95px;
        padding-bottom: 95px;
        margin-top: -80px;
        z-index: 1;
    }
    .catalog-slogan .text {
        font-size: 43px;
        line-height: 50px;
    }
}

.text {
    line-height: var(--line-height-text-m);
}

.text_size_l {
    font-size: var(--size-text-l, var(--size-typo-l)); /* Fallback to deprecated variable */
    line-height: var(--line-height-text-m, var(--line-height-typo-l)); /* Fallback to deprecated variable */
}

.text_align_center {
    text-align: center;
}

.text_weight_bold {
    font-weight: 600;
}

.catalog {
    padding-top: 40px;
}

@media (min-width: 768px) {
    .catalog {
        padding-top: 60px;
    }
}

.container {
    min-width: 260px;
    max-width: 1050px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    .container {
        width: 668px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1150px) {
    .container {
        width: 1050px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.catalog__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (min-width: 1150px) {
    .catalog__inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

.card {
    min-height: 374px;
    border: 1px solid #ececec;
}

.card:hover {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
            box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
}

.card:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
}

@media (max-width: 767px) {
    .card {
        /* max-width: 365px; */
    }
}

@media (min-width: 768px) {

    .card {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 334px;
    }
}

@media (min-width: 1150px) {

    .card {
        width: 316px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.catalog__card {
    margin-bottom: 30px;
}

.catalog__card:last-child {
    margin-bottom: 0;
}

@media (min-width: 1150px) {
    .catalog__card:last-child {
        margin-bottom: 30px;
    }
}

.card__image {
    width: 260px;
    height: 195px;
}

.card__image img,
.card_view_video .card__image img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {

    .card__image {
        width: 333px;
        height: 334px;
    }

}

@media (min-width: 1150px) {

    .card__image {
        width: 316px;
        height: 462px;
    }
}

.image {
    border: 0;
}

.card__info {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 197px;
}

@media (min-width: 768px) {

    .card__info {
        width: 50%;
        min-height: 334px;
    }
}

@media (min-width: 1150px) {

    .card__info {
        width: 100%;
        min-height: 197px;
    }
    .card_view_video .card__info {
        border-top: 1px solid #ececec;
    }
}

.card__description {
   position: absolute;
   top: 0;
   width: 100%;
}

.card__description .text:first-child {
    padding: 20px;
    padding-bottom: 0;
}

.card__description .pt-icon-plus:first-child {
    padding: 20px;
    padding-bottom: 0;
}

.card__description .text {
    padding: 5px 20px;
}

@media (min-width: 1150px) {

    .card__description {
        min-height: 80px;
    }
}

.text_size_xl {
    font-size: var(--size-text-xl, var(--size-typo-xl)); /* Fallback to deprecated variable */
    line-height: var(--line-height-text-m, var(--line-height-typo-xl)); /* Fallback to deprecated variable */
}

.text_view_primary {
    color: var(--color-typo-primary);
}

.text_size_m {
    font-size: var(--size-text-m, var(--size-typo-m)); /* Fallback to deprecated variable */
    line-height: var(--line-height-text-m, var(--line-height-typo-m)); /* Fallback to deprecated variable */
}

.text_view_secondary {
    color: var(--color-typo-secondary);
}

.card__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card__info_view_video .card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.card__footer .pt-icon-plus {
    padding: 20px 0;
    margin: 0 20px;
    border-top: 1px solid #ececec;
}

.pt-icon-plus_distribute_between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.pt-icon-plus_vertical-align_bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.card_view_video {

}

@media (min-width: 768px) {

   .card_view_video {
        display: block;

    }
}

@media (min-width: 1150px) {

    .card_view_video {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        /* min-height: 455px; */
    }
}

.text_size_2xl {
    font-size: var(--size-text-2xl, var(--size-typo-2xl)); /* Fallback to deprecated variable */
    line-height: var(--line-height-text-m, var(--line-height-typo-2xl)); /* Fallback to deprecated variable */
}

.text_align_left {
    text-align: left;
}

.button_theme_i {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: inherit;

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;

       -moz-user-select: none;

        -ms-user-select: none;

            user-select: none;

    color: #000;
    border: 0;
    border-radius: 0px;
    outline: 0;
    background: rgba(0, 0, 0, 0.2);

    text-align: center;
    white-space: nowrap;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button_theme_i::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button_theme_i .button__text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.button_theme_i .icon {
    position: relative;
}

.button_theme_i.button_type_link {
    text-decoration: none;
}

/* Decorative element (inner background) */

.button_theme_i:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    border-radius: 2px;
    background: #fff;
}

.button_theme_i.button_hovered {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.button_theme_i.button_focused-hard {
    z-index: 1;
    background: rgba(178, 142, 0, 0.6);
}

.button_theme_i.button_focused-hard.button:before {
    -webkit-box-shadow: 0 0 0 1px #63d1bb, inset 0 0 0 1px #63d1bb;
            box-shadow: 0 0 0 1px #63d1bb, inset 0 0 0 1px #63d1bb;
}

.button_theme_i.button_pressed:before {
    /* background: #f6f5f3; */
    background: #63d1bb;
    color: #fff;
}

.button_theme_i.button_checked {
    background: rgba(153, 122, 0, 0.5);
}

.button_theme_i.button_checked:before {
    background: #63d1bb;
}

.button_theme_i.button_checked.button_pressed {
    background: rgba(129, 103, 0, 0.6);
}

.button_theme_i.button_checked.button_pressed:before {
    background: #63d1bb;
}

.button_theme_i.button_checked.button_hovered {
    background: rgba(129, 103, 0, 0.6);
}

.button_theme_i.button_view_plain {
    background: none;
}

.button_theme_i.button_view_plain.button_pressed {
    background: #f6f5f3;
}

.button_theme_i.button_view_plain.button_checked {
    background: #63d1bb;
}

.button_theme_i.button_view_plain.button_checked.button_pressed {
    background: #63d1bb;
}

.button_theme_i.button_view_plain.button_disabled {
    background: none;
}

.button_theme_i.button_view_action {
    background: #63d1bb;
}

.button_theme_i.button_view_action:before {
    display: none;
}

.button_theme_i.button_view_action.button_hovered {
    background: #63d1bb;
}

.button_theme_i.button_view_action.button_pressed {
    background: #63d1bb;
}

.button_theme_i.button_view_action.button_focused-hard {
    -webkit-animation: button-action-focus 0.5s infinite linear alternate;
            animation: button-action-focus 0.5s infinite linear alternate;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.button_theme_i.button_view_pseudo {
    overflow: hidden;
    background: none;
}

.button_theme_i.button_view_pseudo:before {
    background: none;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.button_theme_i.button_view_pseudo.button_hovered:before {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.button_theme_i.button_view_pseudo.button_pressed:before {
    background: rgba(0, 0, 0, 0.05);
}

.button_theme_i.button_view_pseudo.button_checked:before {
    background: #63d1bb;
    -webkit-box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
            box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
}

.button_theme_i.button_view_pseudo.button_checked.button_hovered:before {
    -webkit-box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
            box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
}

.button_theme_i.button_view_pseudo.button_checked.button_pressed:before {
    background: #63d1bb;
    -webkit-box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
            box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
}

.button_theme_i.button_disabled {
    background: rgba(0, 0, 0, 0.08);
}

.button_theme_i.button_disabled:before {
    display: none;
}

.button_theme_i.button_disabled.button_checked {
    background: rgba(0, 0, 0, 0.15);
}

.button_theme_i.button_disabled .button__text {
    color: #767676;
}

.button_theme_i.button_disabled .icon {
    opacity: 0.3;
}

.button_theme_i.button_size_s {
    font-size: 13px;
    line-height: 24px;
}

.button_theme_i.button_size_s .icon {
    width: 24px;
}

.button_theme_i.button_size_s .button__text {
    margin: 0 10px;
}

.button_theme_i.button_size_m {
    font-size: 13px;
    line-height: 28px;
}

.button_theme_i.button_size_m .icon {
    width: 28px;
}

.button_theme_i.button_size_m .button__text {
    margin: 0 13px;
}

.button_theme_i.button_size_l {
    font-size: 15px;
    line-height: 32px;
}

.button_theme_i.button_size_l .icon {
    width: 32px;
}

.button_theme_i.button_size_l .button__text {
    margin: 0 15px;
}

.button_theme_i.button_size_xl {
    font-size: 18px;
    line-height: 38px;
}

.button_theme_i.button_size_xl .icon {
    width: 38px;
}

.button_theme_i.button_size_xl .button__text {
    margin: 0 18px;
}

.button_theme_i .icon + .button__text {
    margin-left: 0;
}

.button_theme_i .button__text:not(:last-child) {
    margin-right: 0;
}

@-webkit-keyframes button-action-focus {
    from {
        background-color: #63d1bb;
    }

    to {
        background-color: #63d1bb;
    }
}

@keyframes button-action-focus {
    from {
        background-color: #63d1bb;
    }

    to {
        background-color: #63d1bb;
    }
}

.control-group .button_checked + .button_theme_i:before,
    .control-group .radio_checked + .radio .button_theme_i:before,
    .control-group .checkbox_checked + .checkbox .button_theme_i:before {
    left: 0;
}

.control-group .button_theme_i {
    border-radius: 0;
}

.control-group .button_theme_i:before {
    right: 0;
    border-radius: 0;
}

.control-group .button_theme_i.button_checked:before {
    right: 1px;
}

.control-group .button_theme_i.button_focused-hard.button:before {
    left: 0;
}

.control-group > .button_theme_i:first-child,
    .control-group > :first-child .button_theme_i,
    .control-group > :first-child.popup + .button_theme_i {
    border-radius: 3px 0 0 3px;
}

.control-group > .button_theme_i:first-child:before, .control-group > :first-child .button_theme_i:before, .control-group > :first-child.popup + .button_theme_i:before {
    border-radius: 2px 0 0 2px;
}

.control-group > .button_theme_i:first-child.button_focused-hard.button:before, .control-group > :first-child .button_theme_i.button_focused-hard.button:before, .control-group > :first-child.popup + .button_theme_i.button_focused-hard.button:before {
    left: 1px;
}

.control-group > .button_theme_i:last-child,
    .control-group > :last-child .button_theme_i {
    border-radius: 0 3px 3px 0;
}

.control-group > .button_theme_i:last-child:before, .control-group > :last-child .button_theme_i:before {
    border-radius: 0 2px 2px 0;
    right: 1px;
}

.control-group > :only-child .button_theme_i {
    border-radius: 3px;
}

.control-group > :only-child .button_theme_i:before {
    border-radius: 2px;
}

.btn {
    font-weight: 700;
    /* background: #46c1ae; */
    /* background-color: #fff; */
    /* display: block;
    padding: 16px;
    font-size: 17px;
    line-height: 16px;
    /* color: #444; */
    /* text-align: center; */
    /* border: 2px solid #444; */
    /* box-sizing: border-box; */
    /* cursor: pointer; */
    /* text-decoration: none;  */
}

/* .btn:hover {
    color: #fff;
    background: #444;
}
.btn:active {
    color: #7c7c7c;
} */

.btn_view_video {
    width: 190px;
}

@media (min-width: 668px) {

    .btn_view_video {
        width: 585px;
    }
}

@media (min-width: 1050px) {

    .btn_view_video {
        width: 220px;
    }
}

.card__btn {
    margin-bottom: 20px;
}

@media (min-width: 668px) {

    .card__btn {
        margin-bottom: 40px;
    }
}

@media (min-width: 1150px) {

    .card__btn {
        margin-bottom: 60px;
    }
}

.page__footer {
    background-color: #f1f1f1;
}

.page-footer {
    background-color: #f1f1f1;
}

.page-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (min-width: 768px) {

    .page-footer__inner {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 35px 0;
    }
}

@media (max-width: 767px) {

    .page-footer__item:nth-child(1) {
        display: none;
    }
    .page-footer__item {
        width: 100%;
        padding: 25px 0;
    }
    .page-footer__item:nth-child(3) {
        border-top: 1px solid var(--color-bg-border);
    }
}

@media (min-width: 768px) {

    .page-footer__item {
        width: 33.33%;
    }
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social_direction_row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.link {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.link_disabled {
        pointer-events: none;
    }

@media (max-width: 767px) {
    .new-menu__icon_view_open,
    .new-menu__button_view_open .new-menu__icon_view_close {
        display: none;
    }
}

@media (max-width: 767px) {
    .new-menu__list_view_open {
        display: grid;
    }
}

.pt-icon-plus__icon_indent-r_m {
    margin-right: var(--space-m); /*DEPRECATED*/
}

.new-menu__link_view_inactive {
    color: var(--color-typo-secondary);
}

.card__image_view_video {
    width: 260px;
    height: 150px;
}

@media (min-width: 768px) {

    .card__image_view_video {
        width: 100%;
        min-height: 455px;
        display: inline-block;
    }
}

@media (min-width: 1150px) {

    .card__image_view_video {
        min-width: 682px;
    }
}

@media (max-width: 767px) {
    .card__info_view_video {
        min-height: 345px;
        border-top: none;
    }

}

.card__info_view_video .card__footer {
    border: 0;
}

@media (min-width: 768px) {

    .card__info_view_video  {
        width: 100%;
        height: 288px;

        border-top: none;
    }
}

@media (min-width: 1050px) {

    .card__info_view_video  {
        height: 462px;
    }
}

.pt-icon-plus__icon_indent-l_2xl {
    margin-left: var(--space-2xl); /*DEPRECATED*/
}