@media (min-width: 768px) {

    .new-menu__list_view_users {
        display: flex;
        height: 80px;
        width: min-content;
        order: 2;
    }
}

@media (min-width: 1150px) {
    .new-menu__list_view_users {
        display: flex;
        width: 371px;
        height: 87px;
        order: 3;
        justify-content: flex-end;
        border-bottom: none;
    }
}
