
.new-menu.new-menu_visible>.new-menu__list.new-menu__list_view_new {
    display: none;
}

@media (min-width: 768px) {
    .new-menu__list_view_new {
        display: flex;
        order: 4;
        width: 301px;
        padding: 0;
        justify-content: flex-end;
        border: none;
    }
}
@media (min-width: 1150px) {
    .new-menu__list_view_new {
        display: flex;
        width: 100%;
        order: 4;
        padding: 0;
        height: 60px;
    }

}
