.about__image_type_right {
    align-self: flex-end;
    background: #fff;
    padding-top: 30px;
}

@media only screen and (max-width: $screen-xs-max) {
    .about__image_type_right {
        width: calc(146/320*100%);
        /* width: 155px; */
    }
}
