.icon_name_logo-tablet {
    display: none;
}

@media (min-width: 768px) {

    .icon_name_logo-tablet {
        display: block;
    }
}

@media (min-width: 1150px) {

    .icon_name_logo-tablet {
        display: none;
    }
}
