.btn {
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    /* background: #46c1ae; */
    /* background-color: #fff; */
    /* display: block;
    padding: 16px;
    font-size: 17px;
    line-height: 16px;
    /* color: #444; */
    /* text-align: center; */
    border: 2px solid #444;
    /* box-sizing: border-box; */
    /* cursor: pointer; */
    /* text-decoration: none;  */
}
/* .btn:hover {
    color: #fff;
    background: #444;
}
.btn:active {
    color: #7c7c7c;
} */
