.new-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1;
}
@media screen and (min-width: $screen-m) {
    .new-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}


