.container {
    min-width: 260px;
    max-width: 1050px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width: 768px) {
    .container {
        width: 668px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1150px) {
    .container {
        width: 1050px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
