.input_theme_f {
    position: relative;
    background: none;
    font-family: inherit;
}
.input_theme_f::before {
    background: transparent;
}
.input_theme_f .input__control {
    font: inherit;
    line-height: inherit;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    width: fit-content;
    border: 0;
    border-bottom: 1px solid #342b2b;
    outline: none;
    background: none;
    text-align: center;
}
.input_theme_f.input_size_l {
    font-size: var(--size-typo-l);
    line-height: var(--line-height-typo-l);
}

.input_theme_f:focus::before,
.input_theme_f:active::before  {
    opacity: 0;
}
.input_theme_f .input__control:focus {
    background: white;

}
@media screen and (min-width: $screen-s) {

    .input_theme_f .input__control {
        width: 283px;
    }
}
