.portfolio-all-section__subtitle {
    font-family: "Source Serif Roman";
    font-size: 14px;
    font-weight: 400;
    color: #212021;
    margin-bottom: 30px;
}

@media screen and (max-width: $screen-xs-max) {
    .portfolio-all-section__subtitle {
        color: #fff;
        width: 200px;
    }
}

@media screen and (min-width: $screen-s) {
    .portfolio-all-section__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
        width: 225px;
    }
}

@media screen and (min-width: $screen-m) {
    .portfolio-all-section__subtitle {
        font-size: 18px;
        margin-bottom: 40px;
        width: 255px;
    }
}
