@media screen and (min-width: $screen-s) {

    .slider__image-2 {
        background-image: url(slider-2-tablet.jpg);
        background-size: contain;
        background-repeat: no-repeat;

    }
}

@media screen and (min-width: $screen-l) {

    .slider__image-2 {
        background-image: url(slider-2-desktop.jpg);
        background-size: contain;
        background-repeat: no-repeat;

    }
}
