@media (min-width: 768px) {
    .new-menu__item_view_search >.pt-icon-plus>.pt-icon-plus__block {
    justify-content: center;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .new-menu__item_view_search >.pt-icon-plus>.pt-icon-plus__icon {
        margin: 0
    }

    .new-menu__item_view_search {
        width: 82px;
        border: none;
    }
    .new-menu__item_view_search >.pt-icon-plus {
        padding-top: 2em;
        padding-bottom: 1.8em;
    }

}

@media (min-width: 1150px) {
    .new-menu__item_view_search {
        border-left: 1px solid #ececec;
    }
}
