@media (min-width: 768px) {

    .new-menu__item_view_new:nth-child(1),
    .new-menu__item_view_new:nth-child(2) {
        display: none;
    }
    .new-menu__item_view_new {
        text-align: right;
    }
}

@media (min-width: 1150px) {
    .new-menu__item_view_new:nth-child(1),
    .new-menu__item_view_new:nth-child(2) {
        display: block;
        text-align: left;
    }
    .new-menu__item_view_new {
        padding: 7px 0 0;
        box-sizing: border-box;
    }
    .new-menu__item_view_new:nth-child(1) {
        /* width: 259px; */
        display: block;
    }
    .new-menu__item_view_new:nth-child(2) {
        /* width: 192px; */
        display: block;
        flex-grow: 11;
        padding-left: 50px;
        border: none;
    }
    .new-menu__item_view_new:nth-child(3) {
        flex-grow: 9;
    }
}
