html {
    min-height: 100%;
}

.page_theme_islands {
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: #000;
    background: #fff;
}

/* Базовые цвета от которых выстраивается вся политра */

/* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ...*/

/* hsl(0, 0%, 100%) Базовый цвет поверхностей */

/* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */

/* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */

/* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */

/* Цвет успеха */

/* Цвет ошибки */

/* Цвет предупреждения */

/* Цвет нейтральный */

/* Цвет системнный */

/* Цвета фона */

/* Цвет фона брендированый */

/* Цвет фона действия */

/* Цвет фона выделения */

/* Цвет фона при наведении */

/* Цвет границ */

/* Цвет зебры */

/* Цвет затенения */

/* Цвет дефолта */

/* Цвет паранджи */

/* Цвет молока */

/* Цвет фона успеха */

/* Цвет фона ошибки */

/* Цвет фона предупреждения */

/* Цвет фона нейтральный */

/* Цвет фона системнный */

/* Цвет фона ссылки */

/* Цвета текста */

/* Цвет брендового текста */

/* Цвет основного текста */

/* Цвет промо текста */

/* Цвет второстепенного текста */

/* Цвет дополнительного текста */

/* Цвет неактивного текста */

/* Цвет текста успеха */

/* Цвет текста предупреждения */

/* Цвет текста ошибки */

/* Цвета ссылок */

/* Цвет основной ссылки */

/* Цвет дополнительной ссылки */

/* Цвет второстепенной ссылки */

/* Цвет ховера ссылки */

.theme_color_whitepaper-normal {

	/* Цвета блоков */
	--color-bg-brand: #0056b3; /* Цвет фона брендированый */
	--color-bg-action: color(#0056b3 l(+15%)); /* Цвет фона действия */
	--color-bg-selection: color(#0056b3 h(-1) l(+31%)); /* Цвет фона выделения */
	--color-bg-hover: color(#000000 a(15%)); /* Цвет фона при наведении */
	--color-bg-border: color(#000 a(5%)); /* Цвет границ */
	--color-bg-stripe: color(#000 a(4%)); /* Цвет зебры */
	--color-bg-ghost: color(#000 a(8%)); /* Цвет затенения */
	--color-bg-default: #dde3e5; /* Цвет дефолта */
	--color-bg-tone: color(#000 a(90%)); /* Цвет паранджи */
	--color-bg-soft: color(#dde3e5 a(97%)); /* Цвет молока */
	--color-bg-success: #00985f; /* Цвет успеха */
	--color-bg-alert: #f33; /* Цвет ошибки */
	--color-bg-warning: #f90; /* Цвет предупреждения */
	--color-bg-normal: #dde3e5; /* Цвет нейтральный */
	--color-bg-system: #778a9b; /* Цвет системнный */
	--color-bg-link: color(#0070f0 h(-7%) s(-13) l(+14) a(40%)); /* Цвет фона ссылки */

	/* Цвета текста */
	--color-typo-brand: #0056b3; /* Цвет брендового текста */
	--color-typo-primary: #000000; /* Цвет основного текста */
	--color-typo-promo: color(#000000 a(80%)); /* Цвет промо текста */
	--color-typo-secondary: color(#000000 a(60%)); /* Цвет второстепенного текста */
	--color-typo-ghost: color(#000000 a(30%)); /* Цвет дополнительного текста */
	--color-typo-disable: color(#000000 a(30%)); /* Цвет неактивного текста */
	--color-typo-success: #00985f; /* Цвет текста успеха */
	--color-typo-warning: #f90; /* Цвет текста предупреждения */
	--color-typo-alert: #f33; /* Цвет текста ошибки */

	/* Цвета ссылок */
	--color-link: #0070f0; /* Цвет основной ссылки */
	--color-link-external: #0070f0; /* Цвет дополнительной ссылки */
	--color-link-minor: color(#0070f0 h(+22) s(-80%) l(+13%)); /* Цвет второстепенной ссылки */
	--color-link-hover: color(#0070f0 l(-7%)); /* Цвет ховера ссылки */

}

.theme_breakpoint_default {
	--screen-xs: 320px;
	--screen-s: 720px;
	--screen-m: 1024px;
	--screen-l: 1280px;
	--screen-xl: 1440px;
	--screen-xxl: 1600px;

	--screen-xs-max: 719px;
	--screen-s-max: 1023px;
	--screen-m-max: 1279px;
	--screen-l-max: 1439px;
	--screen-xl-max: 1599px;
	--screen-xxl-max: 1920px;
}

/* Отступы */

.theme_space_default {
	/* Отступы */
	--space-xxxs: 2px;
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 20px;
	--space-xl: 24px;
	--space-xxl: 32px;
	--space-xxxl: 40px;
	--space-xxxxl: 48px;
	--space-xxxxxl: 72px;
	--space-xxxxxxl: 96px;
}

.theme_menu_default {
	--menu-unfold: 300px;
	--menu-fold: 56px;
}

/* Размеры текста */

/* Межстрочный интервал */

.theme_size_default {
	/* Размер текста */
	--size-typo-xs: 11px;
	--size-typo-s: 13px;
	--size-typo-m: 15px;
	--size-typo-l: 18px;
	--size-typo-xl: 20px;
	--size-typo-xxl: 24px;
	--size-typo-xxxl: 32px;
	--size-typo-xxxxl: 48px;
	--size-typo-xxxxxl: 72px;
	--size-typo-xxxxxxl: 96px;

	/* Межстрочный интервал */
	--line-height-typo-xs: 15px;
	--line-height-typo-s: 18px;
	--line-height-typo-m: 21px;
	--line-height-typo-l: 25px;
	--line-height-typo-xl: 28px;
	--line-height-typo-xxl: 34px;
	--line-height-typo-xxxl: 42px;
	--line-height-typo-xxxxl: 62px;
	--line-height-typo-xxxxxl: 82px;
	--line-height-typo-xxxxxxl: 115px;
}

.theme_font_TrebuchetMS {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
 /* Размеры отступа у контента */
 --gap: 12px;

 /* Размеры отступов в колонках */
 --col-gap-third: calc(var(--gap) * 0.33);
 --col-gap-half: calc(var(--gap) * 0.5);
 --col-gap-two-thirds: calc(var(--gap) * 0.66);
 --col-gap-full: var(--gap);
 --col-gap-2x: calc(var(--gap) * 2);
 --col-gap-3x: calc(var(--gap) * 3);
}

@media screen and (min-width: 720px) {
 :root { --gap: 20px; }
}

@media screen and (min-width: 1024px) {
 :root { --gap: 24px; }
}

@media screen and (min-width: 1280px) {
 :root { --gap: 32px; }
}

.tpl-layout {
	display: grid;
}

.theme_bg_image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    background-image: url(../../common.blocks/image/Pattern.png);
}

.tpl-layout__section {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.decorator_indent-v_xxxxl {
	margin-top: var(--space-xxxxl);
	margin-bottom: var(--space-xxxxl);
}

.tpl-layout__container {
	width: 100%;
}

.tpl-layout__content {
	padding: 0 var(--gap);
}

.tpl-grid {
	display: grid;
	width: 100%;
}

.tpl-grid_xs-columns_2 { grid-template-columns: repeat(2, 1fr); }

.tpl-grid_xs-columns_3 { grid-template-columns: repeat(3, 1fr); }

@media screen and (max-width: 719px) {
	.tpl-grid_xs-ratio_1-1-1 {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		grid-template-columns: 1fr 1fr 1fr;
	}

		.tpl-grid_xs-ratio_1-1-1 .tpl-grid__fraction {
			padding: var(--col-gap-half);
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
}

@media screen and (max-width: 719px) {
	.tpl-grid_xs-ratio_1-1 {
		grid-template-columns: 1fr 1fr;
	}

		.tpl-grid_xs-ratio_1-1 .tpl-grid__fraction {
			padding: var(--col-gap-half);
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}
}

@media screen and (min-width: 720px) {
		.tpl-grid_s-ratio_1-1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
		.tpl-grid_s-ratio_1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr; }
		.tpl-grid_s-ratio_1-1-1 { grid-template-columns: 1fr 1fr 1fr; }
		.tpl-grid_s-ratio_1-1 { grid-template-columns: 1fr 1fr; }
		.tpl-grid_s-columns_5 { grid-template-columns: repeat(5, 1fr); }
		.tpl-grid_s-columns_6 { grid-template-columns: repeat(6, 1fr); }
		.tpl-grid_s-columns_8 { grid-template-columns: repeat(8, 1fr); }
}

@media screen and (min-width: 1024px) {
		.tpl-grid_m-ratio_1-1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
		.tpl-grid_m-ratio_1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr; }
		.tpl-grid_m-ratio_1-1-1 { grid-template-columns: 1fr 1fr 1fr; }
		.tpl-grid_m-ratio_1-1 { grid-template-columns: 1fr 1fr; }
		.tpl-grid_m-columns_12 { grid-template-columns: repeat(12, 1fr); }
		.tpl-grid_m-columns_10 { grid-template-columns: repeat(10, 1fr); }
		.tpl-grid_m-columns_6 { grid-template-columns: repeat(6, 1fr); }
}

@media screen and (min-width: 1280px) {
		.tpl-grid_l-ratio_1-1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
		.tpl-grid_l-ratio_1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr; }
		.tpl-grid_l-ratio_1-1-1 { grid-template-columns: 1fr 1fr 1fr; }
		.tpl-grid_l-ratio_1-1 { grid-template-columns: 1fr 1fr; }
		.tpl-grid_l-columns_12 { grid-template-columns: repeat(12, 1fr); }
		.tpl-grid_l-columns_10 { grid-template-columns: repeat(10, 1fr); }
		.tpl-grid_l-columns_6 { grid-template-columns: repeat(6, 1fr); }
}

@media screen and (min-width: 1440px) {
		.tpl-grid_xl-ratio_1-1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
		.tpl-grid_xl-ratio_1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr; }
		.tpl-grid_xl-ratio_1-1-1 { grid-template-columns: 1fr 1fr 1fr; }
		.tpl-grid_xl-ratio_1-1 { grid-template-columns: 1fr 1fr; }
		.tpl-grid_xl-columns_12 { grid-template-columns: repeat(12, 1fr); }
		.tpl-grid_xl-columns_10 { grid-template-columns: repeat(10, 1fr); }
		.tpl-grid_xl-columns_6 { grid-template-columns: repeat(6, 1fr); }
}

.tpl-grid_col-gap_full {
	grid-column-gap: var(--col-gap-full);
}

.tpl-grid_row-gap_full {
	grid-row-gap: var(--col-gap-full);
}

.tpl-grid__fraction { min-width: 0; }

.tpl-grid__fraction_xs-col_1 { grid-column: span 1; }

.tpl-grid__fraction_xs-col_2 { grid-column: span 2; }

.tpl-grid__fraction_xs-col_3 { grid-column: span 3; }

@media screen and (max-width: 719px) {
		.tpl-grid__fraction_xs-order_-1 { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
		.tpl-grid__fraction_xs-order_0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
		.tpl-grid__fraction_xs-order_1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
		.tpl-grid__fraction_xs-row_1 { grid-row: span 1; }
		.tpl-grid__fraction_xs-row_2 { grid-row: span 2; }
		.tpl-grid__fraction_xs-row_3 { grid-row: span 3; }
}

@media screen and (max-width: 720px) {
	.tpl-grid__fraction_xs-col_hidden {
		display: none;
	}
}

@media screen and (max-width: 1023px) {
	.tpl-grid__fraction_s-col_hidden {
		display: none;
	}
		.tpl-grid__fraction_s-order_-1 { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
		.tpl-grid__fraction_s-order_0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
		.tpl-grid__fraction_s-order_1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}

@media screen and (min-width: 720px) {
		.tpl-grid__fraction_s-col_1 { grid-column: span 1; }
		.tpl-grid__fraction_s-col_2 { grid-column: span 2; }
		.tpl-grid__fraction_s-col_3 { grid-column: span 3; }
		.tpl-grid__fraction_s-col_4 { grid-column: span 4; }
		.tpl-grid__fraction_s-col_5 { grid-column: span 5; }
		.tpl-grid__fraction_s-col_6 { grid-column: span 6; }
		.tpl-grid__fraction_s-col_7 { grid-column: span 7; }
		.tpl-grid__fraction_s-col_8 { grid-column: span 8; }
		.tpl-grid__fraction_s-col_9 { grid-column: span 9; }
		.tpl-grid__fraction_s-col_10 { grid-column: span 10; }
		.tpl-grid__fraction_s-col_11 { grid-column: span 11; }
		.tpl-grid__fraction_s-col_12 { grid-column: span 12; }
		.tpl-grid__fraction_s-row_1 { grid-row: span 1; }
		.tpl-grid__fraction_s-row_2 { grid-row: span 2; }
		.tpl-grid__fraction_s-row_3 { grid-row: span 3; }
}

@media screen and (min-width: 1024px) {
		.tpl-grid__fraction_m-col_1 { grid-column: span 1; }
		.tpl-grid__fraction_m-col_2 { grid-column: span 2; }
		.tpl-grid__fraction_m-col_3 { grid-column: span 3; }
		.tpl-grid__fraction_m-col_4 { grid-column: span 4; }
		.tpl-grid__fraction_m-col_5 { grid-column: span 5; }
		.tpl-grid__fraction_m-col_6 { grid-column: span 6; }
		.tpl-grid__fraction_m-col_7 { grid-column: span 7; }
		.tpl-grid__fraction_m-col_8 { grid-column: span 8; }
		.tpl-grid__fraction_m-col_9 { grid-column: span 9; }
		.tpl-grid__fraction_m-col_10 { grid-column: span 10; }
		.tpl-grid__fraction_m-col_11 { grid-column: span 11; }
		.tpl-grid__fraction_m-col_12 { grid-column: span 12; }
		.tpl-grid__fraction_m-row_1 { grid-row: span 1; }
		.tpl-grid__fraction_m-row_2 { grid-row: span 2; }
		.tpl-grid__fraction_m-row_3 { grid-row: span 3; }
		.tpl-grid__fraction_m-order_-1 { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
		.tpl-grid__fraction_m-order_0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
		.tpl-grid__fraction_m-order_1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}

@media screen and (min-width: 1280px) {
		.tpl-grid__fraction_l-col_1 { grid-column: span 1; }
		.tpl-grid__fraction_l-col_2 { grid-column: span 2; }
		.tpl-grid__fraction_l-col_3 { grid-column: span 3; }
		.tpl-grid__fraction_l-col_4 { grid-column: span 4; }
		.tpl-grid__fraction_l-col_5 { grid-column: span 5; }
		.tpl-grid__fraction_l-col_6 { grid-column: span 6; }
		.tpl-grid__fraction_l-col_7 { grid-column: span 7; }
		.tpl-grid__fraction_l-col_8 { grid-column: span 8; }
		.tpl-grid__fraction_l-col_9 { grid-column: span 9; }
		.tpl-grid__fraction_l-col_10 { grid-column: span 10; }
		.tpl-grid__fraction_l-col_11 { grid-column: span 11; }
		.tpl-grid__fraction_l-col_12 { grid-column: span 12; }
		.tpl-grid__fraction_l-row_1 { grid-row: span 1; }
		.tpl-grid__fraction_l-row_2 { grid-row: span 2; }
		.tpl-grid__fraction_l-row_3 { grid-row: span 3; }
		.tpl-grid__fraction_l-order_-1 { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
		.tpl-grid__fraction_l-order_0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
		.tpl-grid__fraction_l-order_1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}

@media screen and (min-width: 1440px) {
		.tpl-grid__fraction_xl-col_1 { grid-column: span 1; }
		.tpl-grid__fraction_xl-col_2 { grid-column: span 2; }
		.tpl-grid__fraction_xl-col_3 { grid-column: span 3; }
		.tpl-grid__fraction_xl-col_4 { grid-column: span 4; }
		.tpl-grid__fraction_xl-col_5 { grid-column: span 5; }
		.tpl-grid__fraction_xl-col_6 { grid-column: span 6; }
		.tpl-grid__fraction_xl-col_7 { grid-column: span 7; }
		.tpl-grid__fraction_xl-col_8 { grid-column: span 8; }
		.tpl-grid__fraction_xl-col_9 { grid-column: span 9; }
		.tpl-grid__fraction_xl-col_10 { grid-column: span 10; }
		.tpl-grid__fraction_xl-col_11 { grid-column: span 11; }
		.tpl-grid__fraction_xl-col_12 { grid-column: span 12; }
		.tpl-grid__fraction_xl-row_1 { grid-row: span 1; }
		.tpl-grid__fraction_xl-row_2 { grid-row: span 2; }
		.tpl-grid__fraction_xl-row_3 { grid-row: span 3; }
		.tpl-grid__fraction_xl-order_-1 { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
		.tpl-grid__fraction_xl-order_0 { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }
		.tpl-grid__fraction_xl-order_1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
}

.text_size_36 {
    font-size: 36px;
    line-height: 38px;
}

.text_view_primary {
	color: var(--color-typo-primary);
}

.text_weight_regular {
	font-weight: 400;
}

.text_align_center {
	text-align: center;
}

.decorator_indent-v_m {
	margin-top: var(--space-m);
	margin-bottom: var(--space-m);
}

/* Базовые цвета от которых выстраивается вся политра */

/* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ...*/

/* Базовый цвет поверхностей */

/* Проектный цвет, от которого выстраивают акцентные состояния */

/* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */

/* Ссылочный цвет, от которого выстраиваются все их состояния */

/* Цвет успеха */

/* Цвет ошибки */

/* Цвет предупреждения */

/* Цвет нейтральный */

/* Цвет системнный */

/* Цвета фона */

/* Цвет фона брендированый */

/* Цвет фона действия */

/* Цвет фона выделения */

/* Цвет фона при наведении */

/* Цвет границ */

/* Цвет зебры */

/* Цвет затенения */

/* Цвет дефолта */

/* Цвет паранджи */

/* Цвет молока */

/* Цвет фона успеха */

/* Цвет фона ошибки */

/* Цвет фона предупреждения */

/* Цвет фона нейтральный */

/* Цвет фона системнный */

/* Цвет фона ссылки */

/* Цвета текста */

/* Цвет брендового текста */

/* Цвет основного текста */

/* Цвет промо текста */

/* Цвет второстепенного текста */

/* Цвет дополнительного текста */

/* Цвет неактивного текста */

/* Цвет текста успеха */

/* Цвет текста предупреждения */

/* Цвет текста ошибки */

/* Цвета ссылок */

/* Цвет основной ссылки */

/* Цвет дополнительной ссылки */

/* Цвет второстепенной ссылки */

/* Цвет ховера ссылки */

.theme_color_whitepaper-success {

	/* Цвета блоков */
	--color-bg-brand: #fff; /* Цвет фона брендированый */
	--color-bg-action: color(#fff l(+15%)); /* Цвет фона действия */
	--color-bg-selection: color(#fff h(-1) l(+31%)); /* Цвет фона выделения */
	--color-bg-hover: color(#fff a(15%)); /* Цвет фона при наведении */
	--color-bg-border: color(#00985f a(5%)); /* Цвет границ */
	--color-bg-stripe: color(#00985f a(4%)); /* Цвет зебры */
	--color-bg-ghost: color(#00985f a(8%)); /* Цвет затенения */
	--color-bg-default: #00985f; /* Цвет дефолта */
	--color-bg-tone: color(#00985f a(90%)); /* Цвет паранджи */
	--color-bg-soft: color(#00985f a(97%)); /* Цвет молока */
	--color-bg-success: #00985f; /* Цвет успеха */
	--color-bg-alert: #f33; /* Цвет ошибки */
	--color-bg-warning: #f90; /* Цвет предупреждения */
	--color-bg-normal: #dde3e5; /* Цвет нейтральный */
	--color-bg-system: #778a9b; /* Цвет системнный */
	--color-bg-link: color(#fff h(-7%) s(-13) l(+14) a(40%)); /* Цвет фона ссылки */

	/* Цвета текста */
	--color-typo-brand: #fff; /* Цвет брендового текста */
	--color-typo-primary: #fff; /* Цвет основного текста */
	--color-typo-promo: color(#fff a(80%)); /* Цвет промо текста */
	--color-typo-secondary: color(#fff a(60%)); /* Цвет второстепенного текста */
	--color-typo-ghost: color(#fff a(30%)); /* Цвет дополнительного текста */
	--color-typo-disable: color(#fff a(30%)); /* Цвет неактивного текста */
	--color-typo-success: #00985f; /* Цвет текста успеха */
	--color-typo-warning: #f90; /* Цвет текста предупреждения */
	--color-typo-alert: #f33; /* Цвет текста ошибки */

	/* Цвета ссылок */
	--color-link: #fff; /* Цвет основной ссылки */
	--color-link-external: #fff; /* Цвет дополнительной ссылки */
	--color-link-minor: color(#fff h(+22) s(-80%) l(+13%)); /* Цвет второстепенной ссылки */
	--color-link-hover: color(#fff l(-7%)); /* Цвет ховера ссылки */
	
}

.theme_font_exo2 {
    font-family: 'Exo 2', sans-serif;
}

.decorator_indent-h_auto {
	margin-left: auto;
	margin-right: auto;
}

.pt-form__item {
	position: relative;
}

.pt-card {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}

.product {
    min-width: 320px;
    max-width: 350px;
    height: 480px;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 15px;
    outline: 0;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.product:before {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    content: '';
    border-radius: 11px;
    background: linear-gradient(135deg, transparent 40px, #f2f2f2 0) top left;
}

@media screen and (min-width: 320px) {
    .product {
        min-width: 280px;
    }
}

@media screen and (min-width: 375px) {
    .product {
        min-width: 320px;
    }
}

.product_view_default {
     background: linear-gradient(135deg, transparent 42px, #1698d9 0) top left;
}

.product_view_default:hover {
     background: linear-gradient(135deg, transparent 42px, #2ea8e6 0) top left;
}

.product_view_default .pt-informer {
    background-color: #1698d9;
}

.product_view_default:hover .pt-informer {
    background-color: #2ea8e6;
}

.product_view_default.text_for_disabled {
    display: none;
}

body > div > div > div > div > div > div:nth-child(2) > .text_for_selected,
body > div > div > div > div > div > div:nth-child(2) > .text_for_disabled {
    display: none;
}

.product_view_selected {
    background: linear-gradient(135deg, transparent 42px, #d91667 0) top left;
}

.product_view_selected:hover {
    background: linear-gradient(135deg, transparent 42px, #e62e7a 0) top left;
}

.product_view_selected .pt-informer {
    background-color: #d91667;
}

.product_view_selected:hover .pt-informer {
    background-color: #e62e7a;
}

body > div > div > div > div > div > div:nth-child(3) > .text_for_disabled,
body > div > div > div > div > div > div:nth-child(3) > .text_for_default {
    display: none;
}

.product_view_disabled {
    background: linear-gradient(135deg, transparent 42px, #b3b3b3 0) top left;
    pointer-events: none;

}

.product_view_disabled .product__header,
.product_view_disabled .product__footer,
.product_view_disabled .product__image {
    opacity: 0.5;

}

.product_view_disabled .pt-informer {
    background-color: #b3b3b3;
}

body > div > div > div > div > div > div:nth-child(4) > .text_for_selected,
body > div > div > div > div > div > div:nth-child(4) > .text_for_default {
    display: none;
}

.pt-card__image {
	width: 100%;
}

.product__image {
    position: relative;
    height: 100%;
    background-image: url(../../common.blocks/image/product/cat.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 4px;
    background-position-y: 203px;
}

.pt-card__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.product__header {
    padding-top: 24px;
    padding-right: var(--space-xxxxl);
    padding-bottom: var(--space-l);
    padding-left: 52px;
}

.text_size_m {
	font-size: var(--size-typo-m);
	line-height: var(--line-height-typo-m);
}

.text_view_secondary {
	color: var(--color-typo-secondary);
}

.text_view_secondary {
    color: #666666;
}

.decorator_indent-v_xxs {
	margin-top: var(--space-xxs);
	margin-bottom: var(--space-xxs);
}

.text_size_xxxxl {
	font-size: var(--size-typo-xxxxl);
	line-height: var(--line-height-typo-xxxxl);
}

.text_weight_bold {
	font-weight: 600;
}

.text_size_xxl {
	font-size: var(--size-typo-xxl);
	line-height: var(--line-height-typo-xxl);
}

.decorator_indent-b_m {
	margin-bottom: var(--space-m);
}

.text_size_14 {
    font-size: 14px;
    line-height: 16px;
}

.decorator_indent-r_xxs {
	margin-right: var(--space-xxs);
}

.pt-card__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.product__footer {
    padding: var(--space-m);
}

.brand-logo {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: relative;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.brand-logo_form_round {
	border-radius: 50%;
}

.brand-logo_size_l {
	width: 80px;
	height: 80px;
}

.text_size_42 {
    font-size: 42px;
    line-height: 37px;
}

.text_size_xl {
	font-size: var(--size-typo-xl);
	line-height: var(--line-height-typo-xl);
}

.text_size_s {
	font-size: var(--size-typo-s);
	line-height: var(--line-height-typo-s);
}

.product__buy {
    
}

.text_view_blue {
    color: #1698d9;
}

.checkbox {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.button {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.text_view_yellow {
    color: #ffff66;
}

.pt-informer_view_default {
	background: var(--color-bg-default);
}

.pt-informer_view_default {
    background-color: #1698d9;
}

.checkbox_theme_hidden > .checkbox__box {
    display: none;
}

.tpl-layout__container_size_m {
	max-width: 1144px;
}

.tpl-layout__container_align_center {
	margin: 0 auto;
}

.pt-card__footer_distribute_right {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.pt-informer__action_space-a_s {
	padding: var(--space-s);
}

.button_theme_islands {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;

       -moz-user-select: none;

        -ms-user-select: none;

            user-select: none;

    color: #000;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background: rgba(0, 0, 0, 0.2);

    text-align: center;
    white-space: nowrap;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button_theme_islands::-moz-focus-inner {
        padding: 0;

        border: 0;
    }

.button_theme_islands .button__text {
        position: relative;

        display: inline-block;
        overflow: hidden;

        text-overflow: ellipsis;
        vertical-align: top;
    }

.button_theme_islands .icon {
        position: relative;
    }

.button_theme_islands.button_type_link {
        text-decoration: none;
    }

/* Decorative element (inner background) */

.button_theme_islands:before {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        content: '';

        border-radius: 2px;
        background: #fff;
    }

.button_theme_islands.button_hovered {
        cursor: pointer;

        background: rgba(0, 0, 0, 0.3);
    }

.button_theme_islands.button_focused-hard {
        z-index: 1;

        background: rgba(178, 142, 0, 0.6);
    }

.button_theme_islands.button_focused-hard.button:before {
            -webkit-box-shadow: 0 0 0 1px #ffcc00, inset 0 0 0 1px #ffcc00;
                    box-shadow: 0 0 0 1px #ffcc00, inset 0 0 0 1px #ffcc00;
        }

.button_theme_islands.button_pressed:before {
        background: #f6f5f3;
    }

.button_theme_islands.button_checked {
        background: rgba(153, 122, 0, 0.5);
    }

.button_theme_islands.button_checked:before {
            background: #ffeba0;
        }

.button_theme_islands.button_checked.button_pressed {
            background: rgba(129, 103, 0, 0.6);
        }

.button_theme_islands.button_checked.button_pressed:before {
                background: #fee481;
            }

.button_theme_islands.button_checked.button_hovered {
            background: rgba(129, 103, 0, 0.6);
        }

.button_theme_islands.button_view_plain {
        background: none;
    }

.button_theme_islands.button_view_plain.button_pressed {
            background: #f6f5f3;
        }

.button_theme_islands.button_view_plain.button_checked {
            background: #ffeba0;
        }

.button_theme_islands.button_view_plain.button_checked.button_pressed {
                background: #fee481;
            }

.button_theme_islands.button_view_plain.button_disabled {
            background: none;
        }

.button_theme_islands.button_view_action {
        background: #ffdb4d;
    }

.button_theme_islands.button_view_action:before {
            display: none;
        }

.button_theme_islands.button_view_action.button_hovered {
            background: #ffd633;
        }

.button_theme_islands.button_view_action.button_pressed {
            background: #ffcc00;
        }

.button_theme_islands.button_view_action.button_focused-hard {
            -webkit-animation: button-action-focus 0.5s infinite linear alternate;
                    animation: button-action-focus 0.5s infinite linear alternate;

            -webkit-box-shadow: none;

                    box-shadow: none;
        }

.button_theme_islands.button_view_pseudo {
        overflow: hidden;

        background: none;
    }

.button_theme_islands.button_view_pseudo:before {
            background: none;
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        }

.button_theme_islands.button_view_pseudo.button_hovered:before {
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
        }

.button_theme_islands.button_view_pseudo.button_pressed:before {
            background: rgba(0, 0, 0, 0.05);
        }

.button_theme_islands.button_view_pseudo.button_checked:before {
                background: #ffeba0;
                -webkit-box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
                        box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
            }

.button_theme_islands.button_view_pseudo.button_checked.button_hovered:before {
                -webkit-box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
                        box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
            }

.button_theme_islands.button_view_pseudo.button_checked.button_pressed:before {
                background: #fee481;
                -webkit-box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
                        box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
            }

.button_theme_islands.button_disabled {
        background: rgba(0, 0, 0, 0.08);
    }

.button_theme_islands.button_disabled:before {
            display: none;
        }

.button_theme_islands.button_disabled.button_checked {
            background: rgba(0, 0, 0, 0.15);
        }

.button_theme_islands.button_disabled .button__text {
            color: #767676;
        }

.button_theme_islands.button_disabled .icon {
            opacity: 0.3;
        }

.button_theme_islands.button_size_s {
        font-size: 13px;
        line-height: 24px;
    }

.button_theme_islands.button_size_s .icon {
            width: 24px;
        }

.button_theme_islands.button_size_s .button__text {
            margin: 0 10px;
        }

.button_theme_islands.button_size_m {
        font-size: 13px;
        line-height: 28px;
    }

.button_theme_islands.button_size_m .icon {
            width: 28px;
        }

.button_theme_islands.button_size_m .button__text {
            margin: 0 13px;
        }

.button_theme_islands.button_size_l {
        font-size: 15px;
        line-height: 32px;
    }

.button_theme_islands.button_size_l .icon {
            width: 32px;
        }

.button_theme_islands.button_size_l .button__text {
            margin: 0 15px;
        }

.button_theme_islands.button_size_xl {
        font-size: 18px;
        line-height: 38px;
    }

.button_theme_islands.button_size_xl .icon {
            width: 38px;
        }

.button_theme_islands.button_size_xl .button__text {
            margin: 0 18px;
        }

.button_theme_islands .icon + .button__text {
        margin-left: 0;
    }

.button_theme_islands .button__text:not(:last-child) {
        margin-right: 0;
    }

@-webkit-keyframes button-action-focus {
    from {
        background-color: #ffdb4d;
    }

    to {
        background-color: #fc0;
    }
}

@keyframes button-action-focus {
    from {
        background-color: #ffdb4d;
    }

    to {
        background-color: #fc0;
    }
}

.control-group .button_checked + .button_theme_islands:before,
    .control-group .radio_checked + .radio .button_theme_islands:before,
    .control-group .checkbox_checked + .checkbox .button_theme_islands:before {
        left: 0;
    }

.control-group .button_theme_islands {
        border-radius: 0;
    }

.control-group .button_theme_islands:before {
            right: 0;

            border-radius: 0;
        }

.control-group .button_theme_islands.button_checked:before {
            right: 1px;
        }

.control-group .button_theme_islands.button_focused-hard.button:before {
            left: 0;
        }

.control-group > .button_theme_islands:first-child,
    .control-group > :first-child .button_theme_islands,
    .control-group > :first-child.popup + .button_theme_islands {
        border-radius: 3px 0 0 3px;
    }

.control-group > .button_theme_islands:first-child:before, .control-group > :first-child .button_theme_islands:before, .control-group > :first-child.popup + .button_theme_islands:before {
            border-radius: 2px 0 0 2px;
        }

.control-group > .button_theme_islands:first-child.button_focused-hard.button:before, .control-group > :first-child .button_theme_islands.button_focused-hard.button:before, .control-group > :first-child.popup + .button_theme_islands.button_focused-hard.button:before {
            left: 1px;
        }

.control-group > .button_theme_islands:last-child,
    .control-group > :last-child .button_theme_islands {
        border-radius: 0 3px 3px 0;
    }

.control-group > .button_theme_islands:last-child:before, .control-group > :last-child .button_theme_islands:before {
            border-radius: 0 2px 2px 0;
            right: 1px;
        }

.control-group > :only-child .button_theme_islands {
        border-radius: 3px;
    }

.control-group > :only-child .button_theme_islands:before {
            border-radius: 2px;
        }

.checkbox_theme_islands {
    position: relative; /* fix #1538 */

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox_theme_islands:hover {
        cursor: pointer;
    }

.checkbox_theme_islands .checkbox__control {
        position: absolute;
        z-index: -1;

        margin: 0;

        opacity: 0;
    }

.checkbox_theme_islands .checkbox__box {
        position: relative;

        display: inline-block;

        border-radius: 3px;
        background: rgba(0, 0, 0, 0.2);
    }

.checkbox_theme_islands .checkbox__box:before {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;

            content: '';

            border-radius: 2px;
            background: #fff;
        }

.checkbox_theme_islands .checkbox__box:after {
            position: absolute;
            top: -5px;
            left: 2px;

            content: '';

            background-image: url(../../node_modules/bem-components/design/common.blocks/theme/_islands/tip.svg);
            background-size: 100%;

            visibility: hidden;
            opacity: 0;

            -webkit-transition: opacity .05s ease-out, visibility 0s linear .05s, -webkit-transform .05s ease-out;

            transition: opacity .05s ease-out, visibility 0s linear .05s, -webkit-transform .05s ease-out;

            transition: transform .05s ease-out, opacity .05s ease-out, visibility 0s linear .05s;

            transition: transform .05s ease-out, opacity .05s ease-out, visibility 0s linear .05s, -webkit-transform .05s ease-out;
        }

.checkbox_theme_islands.checkbox_size_m {
        font-size: 13px;
    }

.checkbox_theme_islands.checkbox_size_m .checkbox__box {
            line-height: 14px;

            top: 2px;

            width: 14px;
            height: 14px;
            margin-right: 5px;
        }

.checkbox_theme_islands.checkbox_size_m .checkbox__box:after {
                width: 15px;
                height: 15px;

                -webkit-transform: translateY(-5px);

                        transform: translateY(-5px);
            }

.checkbox_theme_islands.checkbox_size_l {
        font-size: 15px;
    }

.checkbox_theme_islands.checkbox_size_l .checkbox__box {
            line-height: 17px;

            top: 3px;

            width: 17px;
            height: 17px;
            margin-right: 7px;
        }

.checkbox_theme_islands.checkbox_size_l .checkbox__box:after {
                width: 18px;
                height: 18px;

                -webkit-transform: translateY(-7px);

                        transform: translateY(-7px);
            }

.checkbox_theme_islands.checkbox_checked .checkbox__box {
            background: rgba(153, 122, 0, 0.5);
        }

.checkbox_theme_islands.checkbox_checked .checkbox__box:before {
                background: #ffeba0;
            }

.checkbox_theme_islands.checkbox_checked .checkbox__box:after {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0px);
                        transform: translateY(0px);

                -webkit-transition-delay: 0s;

                        transition-delay: 0s;
            }

.checkbox_theme_islands.checkbox_focused .checkbox__box:before {
            -webkit-box-shadow: 0 0 0 1px #ffcc00, inset 0 0 0 1px #ffcc00;
                    box-shadow: 0 0 0 1px #ffcc00, inset 0 0 0 1px #ffcc00;
        }

.checkbox_theme_islands.checkbox_hovered .checkbox__box {
            background: rgba(0, 0, 0, 0.3);
        }

.checkbox_theme_islands.checkbox_hovered.checkbox_checked .checkbox__box {
            background: rgba(129, 103, 0, 0.6);
        }

.checkbox_theme_islands.checkbox_disabled {
        cursor: default;

        color: #999;
    }

.checkbox_theme_islands.checkbox_disabled .checkbox__box {
            background: rgba(0, 0, 0, 0.08);
        }

.checkbox_theme_islands.checkbox_disabled .checkbox__box:before {
                display: none;
            }

.checkbox_theme_islands.checkbox_disabled.checkbox_checked .checkbox__box {
            background: rgba(0, 0, 0, 0.15);
        }

.checkbox_theme_islands.checkbox_disabled.checkbox_checked .checkbox__box:after {
                opacity: 0.4;
            }

.checkbox_theme_islands.checkbox_type_button {
        display: inline-block;
    }

.checkbox_theme_islands.checkbox_type_line.checkbox_size_m {
            margin-right: 13px;
        }

.checkbox_theme_islands.checkbox_type_line.checkbox_size_l {
            margin-right: 15px;
        }

.checkbox_theme_islands.checkbox_type_line:last-child
        {
            margin-right: 0;
        }

/* hack for Safari only */

_::-webkit-full-page-media,
_:future,
:root .checkbox_theme_islands .checkbox__box {
    pointer-events: none; /* NOTE: Fix #1472 and #1590 */
}