
@media screen and (min-width: $screen-m) {
    .popup_theme_islands {
        display: block;
        visibility: visible;
        margin: 0;
        top: -22px;
        box-shadow: none;
        cursor: none;
    }
}
