.product {
    min-width: 320px;
    max-width: 350px;
    height: 480px;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 15px;
    outline: 0;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.product:before {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    content: '';
    border-radius: 11px;
    background: linear-gradient(135deg, transparent 40px, #f2f2f2 0) top left;
}
@media screen and (min-width: $screen-xs) {
    .product {
        min-width: 280px;
    }
}
@media screen and (min-width: 375px) {
    .product {
        min-width: 320px;
    }
}
