.footer__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 487px;
    margin: auto;
    max-height: 400px;
}
.footer__menu .pt-list__item {
    width: 140px;
    margin-right: 10%;
}
/* Контакты */
.footer__menu .pt-list__item:nth-child(15) {
    margin-bottom: 200px;
}
/* Sale */
.footer__menu .pt-list__item:nth-child(16) {
    margin-top: 58px;
}
