body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: @fz_base;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;

    color: @c_blue;
    background-color: #fff;
}


.h1 {
    font-size: @fz_xxlarge;
    font-weight: 300;
    line-height: 1.2;

    color: @c_blue;
}


.h2 {
    font-size: @fz_large;
    font-weight: 700;
    line-height: 1.2;

    color: @c_blue;
}


h1 {
    .h1;
}


h2 {
    .h1;
}


// BODY > * {
//     outline: 2px solid deeppink;
// }
// BODY > * > * {
//     outline: 2px dashed lime;
//     outline-offset: -2px;
// }
// BODY > * > * > * {
//     outline: 2px dotted dodgerblue;
//     outline-offset: -4px;
// }
