.blog-card {
    width: 244px;
    min-height: calc(371px + 167px);
    margin: auto;
}
@media screen and (min-width: $screen-s) {
    .blog-card {
        width: 345px;
        min-height: calc(541px + 147px);
        margin: 0 10px;
    }
    .blog-card .pt-card__footer {
        padding: 9px;
    }
}
@media screen and (min-width: $screen-l) {
    .blog-card {
        width: 401px;
        min-height: calc(618px + 167px);

        margin-left: 15px;
        margin-right: 15px;

    }
}
