.brand-card__content_type_bottom {
    bottom: 56px;
}
@media screen and (min-width: $screen-s) {

    .brand-card__content_type_bottom {
        bottom: 70px;
        right: 293px;
        width: 432px;
        padding-top: 47px;
        padding-right: 23px;
        padding-bottom: 47px;
        padding-left: 15px;
        z-index: 1;
    }
}
@media screen and (min-width: $screen-m) {

    .brand-card__content_type_bottom {
        bottom: 70px;
        right: 420px;
        width: 458px;
        padding-top: 47px;
        padding-right: 23px;
        padding-bottom: 47px;
        padding-left: 15px;
        z-index: 1;
    }
}
@media screen and (min-width: $screen-l) {

    .brand-card__content_type_bottom {
        bottom: 70px;
        right: 420px;
        width: 611px;
        padding-top: 47px;
        padding-right: 23px;
        padding-bottom: 47px;
        padding-left: 15px;
        z-index: 1;
    }
}
