.card_view_video {

}
@media (min-width: 768px) {

   .card_view_video {
        display: block;

    }
}
@media (min-width: 1150px) {

    .card_view_video {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* min-height: 455px; */
    }
}
