.about__heading {
    position: relative;
    margin-top: 0;
    margin-bottom: 45px;
    padding-left: 22px;
}
.about__heading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'ABOUT';
    opacity: 0.3;
    color: #f8f8f8;
    font-family: "Source Serif Roman - Semibold";
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6.02px;
}

@media only screen and (max-width: $screen-l-max) and (min-width: $screen-s) {
    .about__heading {
        margin-bottom: 60px;
    }
    .about__heading::before {
        font-size: 70px;
        letter-spacing: 6.99px;
    }
}
@media only screen and (min-width: $screen-xl) {
    .about__heading {
        margin-bottom: 195px;
    }
    .about__heading::before {
        font-size: 108px;
        letter-spacing: 6.99px;

    }
}

