.icon_view_mobile {
    display: block;
    padding: 13px 0;
}
@media (min-width: 768px) {

    .icon_view_mobile {
        display: none;
    }
}

@media (min-width: 1050px) {

    .icon_view_mobile {
        display: none;
    }
}
