.icon_view_desktop {
    display: none;
}

@media (min-width: 768px) {

    .icon_view_desktop {
        display: none;
    }
}

@media (min-width: 1050px) {

    .icon_view_desktop {
        display: block;
    }
}
