.popup__subtitle {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #444;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

@media (min-width: 768px) {

    .popup__subtitle {
        font-size: 17px;
    }
}
