
@media screen and (max-width: $screen-xs-max) {

    .new-menu__phone {
        display: none;
    }
}

@media screen and (min-width: $screen-m) {

    .new-menu__phone {
        z-index: 100;
    }
    .new-menu__phone .text {
        padding: 19px 0 20px;
    }
}
