
.button {
    display: inline-block;
    width: auto;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: initial;
    font-weight: 400;
    text-align: center;
    max-width: 100%;
    font-family: var(--font-sans);
    text-decoration: none;
    border-radius: var(--control-radius);
    -webkit-transition: background .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    transition: background .15s ease,box-shadow .15s ease,color .15s ease,fill .15s ease;
    transition: background .15s ease,box-shadow .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button:focus {
    outline-offset: 2px;
    outline: 2px solid var(--color-control-bg-border-focus);
}

