.card__info {
    position: relative;
    box-sizing: border-box;
    height: 197px;
}

@media (min-width: 768px) {

    .card__info {
        width: 50%;
        min-height: 334px;
    }
}

@media (min-width: 1150px) {

    .card__info {
        width: 100%;
        min-height: 197px;
    }
    .card_view_video .card__info {
        border-top: 1px solid #ececec;
    }
}
