.tpl-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-xs) {
       /* flex-direction: column;
       justify-content: center; */
    }

    @media screen and (min-width: $screen-s) {
        flex-direction: row;
        flex-wrap: wrap;
    }

}
