
@media screen and (min-width: $screen-s) {

    .slider__footer {
        padding-left: 49px;
        padding-bottom: 47px;
    }
    .slider__footer .info {
        padding: 19px 30px;
        border-radius: 2px;
        background-color: #ece5e1;
        opacity: 0.8;
    }
}
@media screen and (min-width: $screen-l) {

    .slider__footer {
        padding-left: 119px;
        padding-right: 119px;
        padding-bottom: 75px;
    }
    .slider__footer .info {
        padding: 19px 40px;
    }
}
