.contact-links {
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.contact-links > .pt-list__item {
    text-align: center;
}
.contact-links > .pt-list__item >.text {
    margin-right: 10px;
}
.contact-links > .pt-list__item >.text:nth-child(2) {
   color: #8eb574;
}
@media screen and (min-width: $screen-xs) {
    .contact-links {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: $screen-s-max) {
    .contact-links {
        flex-direction: column;
    }
}
@media screen and (min-width: $screen-s) {
    .contact-links {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: $screen-m) {
    .contact-links {
        margin-top: 65px;
        margin-bottom: 65px;
    }
}
