@media screen and (max-width: $screen-xs-max) {

    .brand-card {
        width: 290px;
        height: 458px;
        margin: auto;
    }
}

@media screen and (min-width: $screen-s) {
    .brand-card {
        width: 352px;
        height: 544px;
    }
}

@media screen and (min-width: $screen-m) {
    .brand-card {
        width: 475px;
        height: 676px;
    }
}

@media screen and (min-width: $screen-l) {
    .brand-card {
        width: 500px;
        height: 713px;
    }
}
