
@media screen and (max-width: $screen-xs-max) {

    .one {
        width: 100%;
        height: 490px;
    }
}

@media screen and (min-width: $screen-s) {

    .one {
        width: 100%;
        height: 823px;
    }
}

@media screen and (min-width: $screen-l) {

    .one {
        width: 100%;
        height: 840px;
    }
}
