.button_theme_islands {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--color-typo-primary);
    border: 0;
    border-radius: 0px;
    outline: 0;
    background: rgba(0,0,0,.2);
    text-align: center;
    white-space: nowrap;
}

.button_theme_islands.button_size_xl {
    font-size: 18px;
    line-height: 38px;
}

.button_theme_islands:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    border-radius: 0;
    background: #D1A954;
}
.button_theme_islands.button_size_xl .button__text {
    margin: 0 47px;
}
